<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sub Panel Aplicacion</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd_dv/table_decorations.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd_dv/table_cell_highlighting.css" />
</head>
<style>
.dashboard-row .dashboard-panel .ui-resizable-handle{
    display: none !important;
 }

.dashboard-row .dashboard-panel .dashboard-element .panel-footer {
    display: none;
 }


#table3 td{
   width:50%;
}

#table5 td{
   width:50%;
}

#highlight2 td{
   width:50%;
}

#table1 table td{
background-color: white;
}

#highlight1 td.range-severe, td.range-low, td.range-elevated {
    text-align: center;
    vertical-align:middle;
}

#highlight2 td.range-severe, td.range-low, td.range-elevated {
    text-align: center;
    vertical-align:middle;
}

#highlight1 td {
    background-color: white;
    border: 10px solid white !important;
    vertical-align:middle;
}

#highlight2 td {
    background-color: white;
    border: 10px solid white !important;
    vertical-align:middle;
}

#highlight1 table{
    border-collapse: separate !important;
}

#highlight2 table{
    border-collapse: separate !important;
}

#highlight1 th {
    text-align: center;
    vertical-align:middle;
}

#highlight2 th {
    text-align: center;
    vertical-align:middle;
}

#table5 table td{
background-color: white;
}

#table1 th {
    text-align: center;
    vertical-align:middle;
}

#table3 th {
    text-align: center;
    vertical-align:middle;
}

#table5 th {
    text-align: center;
    vertical-align:middle;
}

.results-table {
    overflow-x: hidden !important;
}


</style>
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Sub Panel Aplicacion</h2><div align="right" id="texto"></div>
    </div>


    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">AIS</h2>
                
                <div class="panel-element-row">
                    <div id="table1" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Disponibilidad de Componentes AIS en los ultimos 5 minutos</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel2" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="highlight1" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Errores</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row3" class="dashboard-row dashboard-row3">
        <div id="panel3" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-head">
                            <h3>Errores Acumulados por instancia en los ultimos 5 minutos</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row4" class="dashboard-row dashboard-row4">
        <div id="panel4" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">RCM</h2>
                
                <div class="panel-element-row">
                    <div id="table3" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Disponibilidad de los componentes en los ultimos 5 minutos</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
                <div class="panel-element-row">
                    <div id="highlight2" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Errores en los ultimos 5 minutos</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel5" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Mantencion</h2>
                
                <div class="panel-element-row">
                    <div id="table5" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Disponibilidad de los componentes en los ultimos 5 minutos</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
                
                <div class="panel-element-row">
                    <div id="element13" class="dashboard-element chart" style="width:100%;">
                        <div class="panel-head">
                            <h3>Detalle del proceso de mantención</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                
                </div>
                
            </div>
            </div>
        </div>

    <div id="row6" class="dashboard-row dashboard-row6">
        <div id="panel11" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Errores por Servidor</h2>
                
                <div class="panel-element-row" style="width: 100%">
                    <div id="element11" class="dashboard-element chart" style="width:50%;float:left">
                        <div class="panel-body"></div>
                    </div>
              
                
    
                    <div id="element12" class="dashboard-element chart" style="width:50%;float:left">
                        <div class="panel-body"></div>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>

    </div>
</div>
 <!-------RCM ERROR WARNING------>
    <div style="display:none">
        <a href="/en-US/app/cca_wfd_dv/search?q=search%20index%3D%22cca_wfd%22%20enabled%3D%22true%22sourcetype%3D%22st_rcm%22%20earliest%3D%22%40d%22%20latest%3D%22%40m%22%20severity%3D%22ERROR%22&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=events&display.general.type=events" id='rcm_error'>descarga</a>
    </div> 

    <div style="display:none">
        <a href="/en-US/app/cca_wfd_dv/search?q=search%20index%3D%22cca_wfd%22%20enabled%3D%22true%22sourcetype%3D%22st_rcm%22%20earliest%3D%22%40d%22%20latest%3D%22%40m%22%20severity%3D%22WARN%22&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=events&display.general.type=events" id='rcm_warn'>descarga</a>
    </div>
    
    <div style="display:none">
        <a href="/en-US/app/cca_wfd_dv/search?q=search%20index%3Dcca_wfd%20sourcetype%3D%22st_maintenance%22%20earliest%3D-7d%40d%20latest%3Dnow%20enabled%3Dtrue%20source!%3D%22*tech*%22%20NOT%20%22%3Clog%20ended%3E%22%20%0A%7C%20rex%20field%3Dsource%20%22(%3FP%3Csourcename%3EIMPL_maintenance.%2B%5C.log)%22%20%0A%7C%20search%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3D%22st_maintenance%22%20earliest%3D-7d%40d%20latest%3Dnow%20enabled%3Dtrue%20source!%3D%22*tech*%22%20%7C%20rex%20field%3Dsource%20%22(%3FP%3Csourcename%3EIMPL_maintenance.%2B%5C.log)%22%20%7C%20stats%20first(sourcename)%20as%20sourcename%20%7C%20fields%20sourcename%20%7C%20return%20sourcename%5D%0A%7C%20search%20severity%3D%22ERROR%22&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=events&display.general.type=events" id='proc_mant'>descarga</a>
    </div>
    
<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // TokenForwarder
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }
        
        //Funcion que muestra la ultima hora de actualizacion
        function mostrarHora(){
            var fecha_js = new Date();
            var segundos = fecha_js.getSeconds();
            var hora = fecha_js.getHours(); 
            var minutos = fecha_js.getMinutes();
            
            segundos++;
     
            if (segundos == 60) {
              segundos = 0;
              minutos++;
              if (minutos == 60) {
                minutos = 0;
                hora++;
                if (hora == 24) {
                  hora = 0;
                }
              }
            }
            var seg = ((segundos + 1) < 10 ? '0' : '') + (segundos + 1);
            var min = ((minutos + 1) < 10 ? '0' : '') + (minutos + 1);
            texto.innerHTML =  "Ultima actualización: "  + hora + ":" + min + ":" + seg;
        }
        mostrarHora();

         /////Funcion que actualiza las query de los paneles Actualizador de paneles
        
        function alertFunc() 
        {   
            splunkjs.mvc.Components.getInstance('search1').startSearch();
            //splunkjs.mvc.Components.getInstance('search2').startSearch();
            //splunkjs.mvc.Components.getInstance('search3').startSearch();
            splunkjs.mvc.Components.getInstance('search4').startSearch();
            splunkjs.mvc.Components.getInstance('search5').startSearch();
            splunkjs.mvc.Components.getInstance('search7').startSearch();
            splunkjs.mvc.Components.getInstance('errores').startSearch();
            splunkjs.mvc.Components.getInstance('errores2').startSearch();
            splunkjs.mvc.Components.getInstance('errores_rcm').startSearch();    
            mostrarHora();
        }
        setInterval(alertFunc, 300000)       
        
        //
        // SEARCH MANAGERS
        //

        var errores = new SearchManager({
            "id": "errores",
            "earliest_time": "0",
            "search": '| inputlookup umbral_operacional_erroresais_dv.csv | where enabled="true" | table eventtype umbral_rojo | join type=left eventtype [ search index="cca_wfd_dv" sourcetype="st_server_tomcat_dv" name!=AIS5 earliest="@d" latest="now" | eval value=name."_".instancia_new | chart count over eventtype by value ] | fillnull value=0 | foreach AIS* [eval <<FIELD>>=if(\'<<FIELD>>\'>umbral_rojo, \'<<FIELD>>\'."-rojo", \'<<FIELD>>\'."-verde")] | rename eventtype AS Errores | table Errores, AIS*',
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var errores2 = new SearchManager({
            "id": "errores2",
            "earliest_time": "0",
            "search": 'index="cca_wfd_dv" sourcetype="st_server_tomcat_dv" name!=AIS5 earliest="@d" latest="now" eventtype=* | eval value=name."_".instancia_new | lookup umbral_operacional_erroresais_dv.csv eventtype OUTPUT enabled | search enabled="true" | chart count over value by eventtype',
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var errores_rcm = new SearchManager({
            "id": "errores_rcm",
            "earliest_time": "0",
            "search": "| inputlookup error_dv | table severity | join type=left severity [search index=\"cca_wfd_dv\" enabled=\"true\"sourcetype=\"st_rcm_dv\" earliest=\"@d\" latest=\"@m\" severity=\"ERROR\" OR severity=\"WARN\"        | stats count by severity] | fillnull value=0",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search1 = new SearchManager({
            "id": "search1",
            "earliest_time": "0",
            "search": 'index="cca_wfd_dv" sourcetype="st_heartbeat_dv" earliest="-5m@m" latest="@m" enabled="true" | eval tipo=server."_".instancia | dedup url | eval componente="Procesos"| chart max(priority) as estado by componente, tipo | fields - Detalle,AIS1_MAINTENCE,OTHER,AIS2_MAINTENCE,RCM_01,NULL,AIS1B_MAINTENCE,AIS2B_MAINTENCE,RCM_MAINTENCE | append [search index="cca_wfd_dv" sourcetype="st_status_services_dv" earliest="-5m@m" latest="@m" enabled="true" | eval tipo=server."_".instancia | dedup service host | eval componente="Servicios Windows" | chart max(priority) as estado by componente, tipo | fields - Detalle,AIS1_MAINTENCE,OTHER,AIS2_MAINTENCE,RCM_01,NULL,AIS1B_MAINTENCE,AIS2B_MAINTENCE,RCM_MAINTENCE]',
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        /*var search2 = new PostProcessManager({
            "search": '| table eventtype, tipo,cuenta | lookup umbral_aplicacion.csv eventtype tipo output umbral | eval cuenta=cuenta+"-"+umbral | chart values(cuenta) by eventtype,tipo | fillnull value="0-0-0" | rename eventtype as Errores',
            "managerid": "errores",
            "id": "search2"
        }, {tokens: true, tokenNamespace: "submitted"});*/

        /*var search3 = new PostProcessManager({
            "search": '| table eventtype, tipo,cuenta| chart min(cuenta) by tipo,eventtype | rename eventtype as Errores',
            "managerid": "errores",
            "id": "search3"
        }, {tokens: true, tokenNamespace: "submitted"});*/

        var search4 = new SearchManager({
            "id": "search4",
            "earliest_time": "0",
            "search": "index=\"cca_wfd_dv\" sourcetype=\"st_heartbeat_dv\" earliest=\"-5m@m\" latest=\"@m\" enabled=\"true\" AND server=\"RCM*\" | dedup url | eval componente=\"Procesos\"| chart max(priority) as estado by componente",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search5 = new PostProcessManager({
            "search": "| rename severity as Errores, count as cantidad | fillnull value=0 cantidad | lookup umbral_aplicacion_Errores.csv Errores OUTPUT umbral | eval cantidad = cantidad + \"-\" + umbral | fields - umbral",
            "managerid": "errores_rcm",
            "id": "search5"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search7 = new SearchManager({
            "id": "search7",
            "earliest_time": "0",
            "search": 'index="cca_wfd_dv" sourcetype="st_status_services_dv" OR sourcetype="st_heartbeat_dv" earliest="-5m@m" latest="now" enabled="true" | appendpipe [ dedup url | search instancia="MAINTENCE" AND server="AIS*" | eval componente="Procesos"] | appendpipe [ dedup host service| search instancia="MAINTENCE" AND server="AIS*" | eval componente="Servicios Windows"] | chart max(priority) as estado by componente| search NOT Detalle="data_base" | fields - Detalle | append [search index="cca_wfd_dv" sourcetype="st_maintenance_dv" earliest="@d-4h" latest="@m" message="*Execution plan ended with status \'Finished successfully\'*"| head 1 | chart count as prioridad | eval componente="Ejecucion"| eval estado=if(prioridad=0,1,0) | table componente,estado ]',
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});


        var search11 = new SearchManager({
            "id": "search11",
            "status_buckets": 0,
            "earliest_time": "0",
            "search": 'index="cca_wfd_dv" sourcetype="st_server_tomcat_dv" OR sourcetype="st_event_handler_dv" enabled="true" earliest="@d" latest="@m" | eval tipo=name."_".instancia_new |search eventtype="*"| eval Server="AIS"| timechart span=10m count as cuenta by Server',
            "latest_time": "$latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
        
        
        var search12 = new SearchManager({
            "id": "search12",
            "status_buckets": 0,
            "earliest_time": "0",
            "search": "index=\"cca_wfd_dv\" sourcetype=\"st_rcm_dv\" earliest=\"@d\" latest=\"@m\" severity=\"ERROR\" OR severity=\"WARN\" enabled=\"true\" | eval Server=\"RCM\"| timechart span=10m count as cuenta by Server",
            "latest_time": "$latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
        
        var search13 = new SearchManager({
            "id": "search13",
            "status_buckets": 0,
            "earliest_time": "0",
            "search": 'index=cca_wfd_dv sourcetype="st_maintenance_dv" earliest=-7d@d latest=now source!="*tech*" NOT "<log ended>" | rex field=source "(?P<sourcename>IMPL_maintenance.+\.log)" | search [search index=cca_wfd_dv sourcetype="st_maintenance_dv" earliest=-7d@d latest=now source!="*tech*" | rex field=source "(?P<sourcename>IMPL_maintenance.+\.log)" | sort - _time | stats first(sourcename) as sourcename | fields sourcename | return sourcename]| eval estado=if(isnull(status), "Running", status) | stats min(_time) as hora_inicio, max(_time) as hora_termino, first(estado) as estado, first(message) as message, count(eval(severity="ERROR")) as cantidad_errores by source | eval duracion=if(estado="Running", tostring((now()-hora_inicio), "duration"), tostring(hora_termino-hora_inicio, "duration")) | fieldformat hora_inicio=strftime(hora_inicio, "%Y-%m-%d %H:%M:%S") | fieldformat hora_termino=strftime(hora_termino, "%Y-%m-%d %H:%M:%S") | eval hora_termino=if(estado="Running", "-", hora_termino) | table hora_inicio, hora_termino, duracion, cantidad_errores, estado',
            "latest_time": "$latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        
        var search_ais = new PostProcessManager({
            "search": "table _time AIS",
            "managerid": "search11",
            "id": "search_ais"
        }, {tokens: true, tokenNamespace: "submitted"});
        
        
        var search_rcm = new PostProcessManager({
            "search": "table _time RCM",
            "managerid": "search12",
            "id": "search_rcm"
        }, {tokens: true, tokenNamespace: "submitted"});
        

        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var table1 = new TableElement({
            "id": "table1",
            "count": 4,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "false",
            "managerid": "search1",
            "el": $('#table1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var highlight1 = new TableElement({
            "id": "highlight1",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "errores",
            "el": $('#highlight1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element1 = new ChartElement({
            "id": "element1",
            "charting.axisY2.scale": "inherit",
            "wrap": "true",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisTitleY.text": "asd",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.axisTitleX.text": "ais",
            "charting.chart": "bar",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "height": "320",
            "dataOverlayMode": "none",
            "charting.chart.showDataLabels": "none",
            "charting.axisTitleY.visibility": "collapsed",
            "link.visible": "false",
            "charting.axisY.scale": "linear",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisTitleX.visibility": "collapsed",
            "charting.layout.splitSeries": "0",
            "count": "10",
            "rowNumbers": "false",
            "charting.chart.stackMode": "stacked",
            "charting.chart.nullValueMode": "gaps",
            "resizable": true,
            "charting.drilldown": "none",
            "charting.axisY2.enabled": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.style": "shiny",
            "charting.axisX.scale": "linear",
            "charting.chart.bubbleMinimumSize": "10",
            "managerid": "errores2",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var table3 = new TableElement({
            "id": "table3",
            "count": 4,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search4",
            "el": $('#table3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        
        var highlight2 = new TableElement({
            "id": "highlight2",
            "count": 3,
            "dataOverlayMode": "none",
            drilldownRedirect: false,
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search5",
            "el": $('#highlight2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        highlight2.on("click", function(e) {    
            console.log(e)        
            if(e.data["click.name2"]=="cantidad" && e.data["click.value"]=="ERROR")
            {
              document.getElementById('rcm_error').click();
            }     
            if(e.data["click.name2"]=="cantidad" && e.data["click.value"]=="WARN")
            {
              document.getElementById('rcm_warn').click();
            }   
              
        });
        
        var element11 = new ChartElement({
            "id": "element11",
            "charting.chart": "line",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "right",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "1",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "managerid": "search_ais",
            "el": $('#element11')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
        
        
        var element12 = new ChartElement({
            "id": "element12",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "line",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "right",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "1",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "managerid": "search_rcm",
            "el": $('#element12')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
        
        var element13 = new TableElement({
            "id": "element13",
            "count": 4,
            "dataOverlayMode": "none",
            drilldownRedirect: false,
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search13",
            "el": $('#element13')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
        
        element13.on("click", function(e) {    
            console.log(e)        
            if(e.data["click.name2"]=="cantidad_errores")
            {
              document.getElementById('proc_mant').click();
            }     
             
              
        });

        var table5 = new TableElement({
            "id": "table5",
            "count": 4,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search7",
            "el": $('#table5')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd_dv/table_icons_aplicacion.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd_dv/table_cell_highlighting_test.js" type="text/javascript"></script>
</body>
</html>