<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sub Panel Infraestructura (Data Validation)</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.198/css/build/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.198/css/build/pages/dashboard-simple-bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_decorations.css" />
</head>
  
<style>
.table caption+thead tr:first-child th, .table caption+thead tr:first-child td, .table colgroup+thead tr:first-child th, .table colgroup+thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
    border-top: 0;
    width: 300px !important;
}
  
.panel-footer {
    visibility: collapse;
}
  
#table1 td {
    background-color: white;  
}
  
#table1 th {
    text-align: center;
  } 
    
#table4 td {
    background-color: white;  
}
  
#table4 th {
    text-align: center;
  } 
    
#table5 td {
    background-color: white;  
}
  
#table5 th {
    text-align: center;
  } 
  
.results-table {
    overflow-x: hidden !important;
}
  

</style>
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Sub Panel Infraestructura (Data Validation)</h2><div align="right" id="texto"></div>
    </div>


    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Control Bases de datos del ultimo minuto</h2>
                
                <div class="panel-element-row">
                    <div id="table1" class="dashboard-element table" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel2" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Estado de Servidores del ultimo minuto</h2>
                
                <div class="panel-element-row">
                    <div id="table4" class="dashboard-element table" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row3" class="dashboard-row dashboard-row3">
        <div id="panel3" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Semáforos para Red del ultimo minuto</h2>
                
                <div class="panel-element-row">
                    <div id="table5" class="dashboard-element table" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-------DISPONIBILIDAD DE MOTOR------>
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=search%20index%3Dcca_wfd%20sourcetype%3Dst_status_db%20earliest%3D%40d%20latest%3D%40m%20database%3DCCA_AIS*%20%20%7C%20dedup%20database&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=events&display.general.type=events&sid=1465568267.741" id='ais_db_disp_motor'>descarga</a>
    </div> 

    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=search%20index%3Dcca_wfd%20sourcetype%3Dst_status_db%20earliest%3D%40d%20latest%3D%40m%20database%3DCCA_IDB%20%7C%20dedup%20database&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=events&display.general.type=events&sid=1465569488.101" id='idb_disp_motor'>descarga</a>
    </div>
    <!------PARTICIONAMIENTO------>

    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=search%20index%3Dcca_wfd%20sourcetype%3Dst_particiones_db%20earliest%3D%40d%20latest%3D%40m%20enabled%3Dtrue%20%20%7C%20dedup%20host&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&sid=1465576722.81" id='idb_particion'>descarga</a>
    </div>
    <!----Errores SQL---->
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=search%20index%3Dcca_wfd%20sourcetype%3Dst_errorlog_db%20earliest%3D%40d%20latest%3D%40m%20enabled%3Dtrue%20AND%20severity_id>15%20name%3DAIS_DB%20%20%7C%20sort%200%20-%20_time%20%20%7C%20dedup%20name&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&sid=1465575774.307" id='ais_db_sql'>descarga</a>
    </div>

    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=search%20index%3Dcca_wfd%20sourcetype%3Dst_errorlog_db%20earliest%3D%40d%20latest%3D%40m%20enabled%3Dtrue%20AND%20severity_id>15%20name%3DIDB%20%20%7C%20sort%200%20-%20_time%20%20%7C%20dedup%20name&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&sid=1465575967.353" id='idb_sql'>descarga</a>
    </div>   
<!--------Estados Servidores------>
    <!--CPU-->
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20device%3D*%20AND%20service_object_type%3Dcpu%20AND%20device%3DAIS*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20lookup%20filtro_nagios_falso_positivo%20instance_id%2C%20service_object_id%2C%20status%2C%20message%20OUTPUT%20filter%20%7C%20where%20isnull(filter)%20%0A%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2C%20status%2Cmessage&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.general.type=statistics&sid=1465588810.51" id='cpu_ais'>descarga</a>
    </div>   
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20device%3D*%20AND%20service_object_type%3Dcpu%20AND%20device%3D*RCM*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20lookup%20filtro_nagios_falso_positivo%20instance_id%2C%20service_object_id%2C%20status%2C%20message%20OUTPUT%20filter%20%7C%20where%20isnull(filter)%20%0A%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2C%20status%2Cmessage&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.general.type=statistics&sid=1465590550.171" id='cpu_rcm'>descarga</a>
    </div> 
    <!--Memory-->
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20device%3D*%20AND%20service_object_type%3Dmemory%20AND%20device%3D*RCM*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20lookup%20filtro_nagios_falso_positivo%20instance_id%2C%20service_object_id%2C%20status%2C%20message%20OUTPUT%20filter%20%7C%20where%20isnull(filter)%20%0A%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2C%20status%2Cmessage&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.general.type=statistics&sid=1465590641.183" id='memory_rcm'>descarga</a>
    </div> 
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20device%3D*%20AND%20service_object_type%3Dmemory%20AND%20device%3DAIS*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20lookup%20filtro_nagios_falso_positivo%20instance_id%2C%20service_object_id%2C%20status%2C%20message%20OUTPUT%20filter%20%7C%20where%20isnull(filter)%20%0A%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%2C%20service_object_id%20as%20Service%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2CService%2Cstatus%2Cmessage&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.general.type=statistics&sid=1465591525.284" id='memory_ais'>descarga</a>
    </div> 
    <!--RED-->
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20device%3D*%20AND%20service_object_type%3Dnetwork%20AND%20device%3DAIS*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20lookup%20filtro_nagios_falso_positivo%20instance_id%2C%20service_object_id%2C%20status%2C%20message%20OUTPUT%20filter%20%7C%20where%20isnull(filter)%20%0A%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%2C%20service_object_id%20as%20Service%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2CService%2Cstatus%2Cmessage&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.general.type=statistics&sid=1465592320.364" id='network_ais'>descarga</a>
    </div> 
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20device%3D*%20AND%20service_object_type%3Dnetwork%20AND%20device%3D*RCM*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20lookup%20filtro_nagios_falso_positivo%20instance_id%2C%20service_object_id%2C%20status%2C%20message%20OUTPUT%20filter%20%7C%20where%20isnull(filter)%20%0A%20%20%20%20%20%20%20%20%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%2C%20service_object_id%20as%20Service%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2CService%2Cstatus%2Cmessage&earliest=0&latest=&display.page.search.mode=verbose&dispatch.sample_ratio=1&display.page.search.tab=statistics&display.general.type=statistics&sid=1465592427.374" id='network_rcm'>descarga</a>
    </div> 
    <!--DISPONIBILIDAD-->
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20device%3D*%20AND%20service_object_type%3Dstatus%20AND%20device%3DRCM*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%2C%20service_object_id%20as%20"Service"%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2CService%2Cstatus&earliest=0&latest=&display.page.search.mode=verbose&dispatch.sample_ratio=1&display.page.search.tab=statistics&display.general.type=statistics&sid=1465592740.399" id='status_rcm'>descarga</a>
    </div> 
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20service_object_type%3Dstatus%20AND%20device%3DAIS*%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20earliest%3D%40d%20latest%3D%40m%20eventname%3D*%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20instance_id%2C%20service_object_id%2C%20message%2C%20type%2C%20status%2C%20priority%20%5D%20%0A%7C%20rename%20device%20as%20Dispositivo%2C%20instance_id%20as%20Instancia%2C%20service_object_type%20as%20Servicio%2C%20service_object_id%20as%20Service%20%7C%20table%20Dispositivo%2CInstancia%2CServicio%20%2CService%2Cstatus&earliest=0&latest=&display.page.search.mode=verbose&dispatch.sample_ratio=1&display.page.search.tab=statistics&display.general.type=statistics&sid=1466784901.4940" id='status_ais'>descarga</a>
    </div> 
    <!--Errores windows-->
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=search%20index%3Dcca_wfd%20sourcetype%3Dst_wineventlog_system%20OR%20sourcetype%3Dst_wineventlog_application%20earliest%3D%40d%20latest%3D%40m%20enabled%3Dtrue%20AND%20(Type%3DCritical%20OR%20Type%3DError)%20AND%20(EventCode%3D1293%20OR%20EventCode%3D41%20OR%20EventCode%3D12291%20OR%20EventCode%3D0)%20%7C%20search%20server%3DAIS&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=events&display.general.type=events&sid=1465593769.470"
         id='errores_ais'>descarga</a>
    </div> 
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=search%20index%3Dcca_wfd%20sourcetype%3Dst_wineventlog_system%20OR%20sourcetype%3Dst_wineventlog_application%20earliest%3D%40d%20latest%3D%40m%20enabled%3Dtrue%20AND%20(Type%3DCritical%20OR%20Type%3DError)%20AND%20(EventCode%3D1293%20OR%20EventCode%3D41%20OR%20EventCode%3D12291%20OR%20EventCode%3D0)%20%7C%20search%20server%3DRCM&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=events&display.general.type=events&sid=1465593886.476" 
        id='errores_rcm'>descarga</a>
    </div> 

    <!--SEMAFOROS RED-->
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20group%3Dred%20AND%20(device%3DF5)%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20eventname%3D*%20earliest%3D%40d%20latest%3D%40m%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20status%2Ctype%2Cinstance_id%2Cservice_object_id%2C%20priority%5D&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.general.type=statistics&sid=1465595793.604"
         id='red_f5'>descarga</a>
    </div> 
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20group%3Dred%20AND%20(device%3Dswitch)%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20eventname%3D*%20earliest%3D%40d%20latest%3D%40m%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20status%2Ctype%2Cinstance_id%2Cservice_object_id%2C%20priority%5D&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.general.type=statistics&sid=1465595994.617" 
        id='red_switch'>descarga</a>
    </div> 
    <div style="display:none">
        <a href="/en-US/app/cca_wfd/search?q=%7C%20inputlookup%20nagios_devices.csv%20%20%7C%20search%20enabled%3Dtrue%20AND%20group%3Dred%20AND%20(device%3Dfirewall)%20%7C%20join%20instance_id%20service_object_id%20%5Bsearch%20index%3Dcca_wfd%20sourcetype%3Dst_nagios%20eventname%3D*%20earliest%3D%40d%20latest%3D%40m%20%20%7C%20dedup%20instance_id%20service_object_id%20%20%7C%20table%20status%2Ctype%2Cinstance_id%2Cservice_object_id%2C%20priority%5D&display.page.search.mode=verbose&dispatch.sample_ratio=1&earliest=&latest=&display.page.search.tab=statistics&display.type=statistics&sid=1465596054.623" id='red_firewall'>descarga</a>
    </div> 



<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/checkboxview"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // CheckboxView
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }
		//Funcion que muestra la ultima hora de actualizacion
		function mostrarHora(){
			var fecha_js = new Date();
			var segundos = fecha_js.getSeconds();
			var hora = fecha_js.getHours(); 
			var minutos = fecha_js.getMinutes();
			
			segundos++;
	 
			if (segundos == 60) {
			  segundos = 0;
			  minutos++;
			  if (minutos == 60) {
				minutos = 0;
				hora++;
				if (hora == 24) {
				  hora = 0;
				}
			  }
			}
			var seg = ((segundos + 1) < 10 ? '0' : '') + (segundos + 1);
			var min = ((minutos	+ 1) < 10 ? '0' : '') + (minutos + 1);
			texto.innerHTML =  "Ultima actualización: "  + hora + ":" + min + ":" + seg;
		}
		mostrarHora();
        /////Funcion que actualiza las query de los paneles Actualizador de paneles
        
        function alertFunc() 
        {   
            splunkjs.mvc.Components.getInstance('search1').startSearch();
            splunkjs.mvc.Components.getInstance('search2').startSearch();
            splunkjs.mvc.Components.getInstance('search3').startSearch();
			mostrarHora();
        }
        setInterval(alertFunc, 60000)

        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "search": '| inputlookup infraestructura_bases_datos_dv.csv | join type="left"[search index="cca_wfd_dv" sourcetype="st_status_db_dv" earliest="@d" latest="@m" database=CCA_IDB OR database=CCA_AIS*| dedup database | eval Metrica="Disponibilidad de Motor" | eval priority = if(status=="ONLINE",0,1) | chart max(priority) as estado over Metrica by database | rename CCA_IDB as IDB, CCA_AIS_PRF_SOLUTION as IFM_DB| append [ search index="cca_wfd_dv" sourcetype="st_particiones_db_dv" earliest="@d" latest="@m" enabled="true"  | dedup host | eval Metrica="Particionamiento" | chart count as estado over Metrica by name | rename "AIS DB" as IFM_DB |eval IDB=if(IDB=1,0,1) ] | append [| inputlookup host_database_dv | where enabled="true"  | table name | join type="left" name [search index="cca_wfd_dv" sourcetype="st_errorlog_db_dv" earliest="@d" latest="@m" enabled="true" AND severity_id>15 | sort 0 - _time  | dedup name | stats count as estado by name ] | fillnull value=0 estado | sort - name | eval Metrica="Errores SQL" | chart max(estado) over Metrica by name] ] | table Metrica IFM_DB IDB | eval IFM_DB=if(Metrica="Particionamiento",-2,IFM_DB) | fillnull value=1 IFM_DB, IDB',
            "status_buckets": 0,
            "latest_time": "$latest$",
            "earliest_time": "0",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "search": '| inputlookup nagios_devices_dv.csv  | search enabled="true" AND device=* AND (service_object_type="status" OR service_object_type="cpu" OR service_object_type="network" OR service_object_type="memory") AND (device="AIS*" OR device="*RCM*") | join instance_id service_object_id [search index="cca_wfd" sourcetype="st_nagios" earliest="@d" latest="@m" eventname=*  | dedup instance_id service_object_id  | table instance_id, service_object_id, message, type, status, priority ] | lookup filtro_nagios_falso_positivo_dv instance_id, service_object_id, status, message OUTPUT filter | where isnull(filter) | chart max(priority) over service_object_type by device | fillnull  | foreach AIS* [eval AIS=+"<<FIELD>>"]  | foreach *RCM* [eval RCM=+"<<FIELD>>"]  | rename service_object_type as Servicio | append [ | inputlookup host_dv | where enabled="true"  | table server  | join type="left" server [search index="cca_wfd_dv" sourcetype="st_wineventlog_system_dv" OR sourcetype="st_wineventlog_application_dv" earliest="@d" latest="@m" enabled="true" AND (Type="Critical" OR Type="Error") AND (EventCode=1293 OR EventCode=41 OR EventCode=12291 OR EventCode=0)  | stats count by server] | fillnull value=0 count  | eval Servicio="Errores Windows" | eval count=if(count>0,1,0) | chart max(count) as estado over Servicio by server] | eval Servicio=case(Servicio="cpu","Uso de CPU", Servicio="memory","Uso de Memoria", Servicio="network","Uso de Red", Servicio="status","Disponibilidad", Servicio="Errores Windows","Errores Windows") | table Servicio AIS RCM',
            "status_buckets": 0,
            "latest_time": "$latest$",
            "earliest_time": "0",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "search": '| inputlookup nagios_devices_dv.csv  | search enabled="true" AND group="red" AND (device="F5" OR device="Switch" OR device="Firewall") | join instance_id service_object_id [search index="cca_wfd" sourcetype=st_nagios eventname=* earliest="@d" latest="@m"  | dedup instance_id service_object_id  | table status,type,instance_id,service_object_id, priority, message] | lookup filtro_nagios_falso_positivo_dv instance_id, service_object_id, status, message OUTPUT filter | where isnull(filter) | chart max(priority) as estado by device | fillnull  | rename device as Dispositivo | eval Dispositivo=case(Dispositivo="F5","Disponibilidad F5", Dispositivo="Firewall","Disponibilidad de FIREWALL RBI", Dispositivo="Switch","Disponibilidad SWITCH CORE") | table Dispositivo, estado',
            "status_buckets": 0,
            "latest_time": "$latest$",
            "earliest_time": "0",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

 
        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var table1 = new TableElement({
            "id": "table1",
            "count": 10,
            "dataOverlayMode": "none",
            drilldownRedirect: false,
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search1",
            "el": $('#table1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        table1.on("click", function(e) {    
            console.log(e)        
            if(e.data["click.name2"]=="AIS_DB" && e.data["click.value"]=="Disponibilidad de Motor")
            {
              document.getElementById('ais_db_disp_motor').click();
            }     
            if(e.data["click.name2"]=="IDB" && e.data["click.value"]=="Disponibilidad de Motor")
            {
              document.getElementById('idb_disp_motor').click();
            }   
            if(e.data["click.name2"]=="IDB" && e.data["click.value"]=="Particionamiento")
            {
              document.getElementById('idb_particion').click();
            }  
            if(e.data["click.name2"]=="AIS_DB" && e.data["click.value"]=="Errores SQL")
            {
              document.getElementById('ais_db_sql').click();
            } 
            if(e.data["click.name2"]=="IDB" && e.data["click.value"]=="Errores SQL")
            {
              document.getElementById('idb_sql').click();
            }   
        });

        var table4 = new TableElement({
            "id": "table4",
            "count": 10,
            "dataOverlayMode": "none",
            drilldownRedirect: false,
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search2",
            "el": $('#table4')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        table4.on("click", function(e) {    
            console.log(e)
            if(e.data["click.name2"]=="AIS" && e.data["click.value"]=="Uso de CPU")
            {
              document.getElementById('cpu_ais').click();
            }     
            if(e.data["click.name2"]=="RCM" && e.data["click.value"]=="Uso de CPU")
            {
              document.getElementById('cpu_rcm').click();
            }   
            if(e.data["click.name2"]=="AIS" && e.data["click.value"]=="Uso de Memoria")
            {
              document.getElementById('memory_ais').click();
            }  
            if(e.data["click.name2"]=="RCM" && e.data["click.value"]=="Uso de Memoria")
            {
              document.getElementById('memory_rcm').click();
            } 

            if(e.data["click.name2"]=="AIS" && e.data["click.value"]=="Uso de Red")
            {
              document.getElementById('network_ais').click();
            }  
            if(e.data["click.name2"]=="RCM" && e.data["click.value"]=="Uso de Red")
            {
              document.getElementById('network_rcm').click();
            } 


            if(e.data["click.name2"]=="AIS" && e.data["click.value"]=="Disponibilidad")
            {
              document.getElementById('status_ais').click();
            }            
            if(e.data["click.name2"]=="RCM" && e.data["click.value"]=="Disponibilidad")
            {
              document.getElementById('status_rcm').click();
            }      


            if(e.data["click.name2"]=="AIS" && e.data["click.value"]=="Errores Windows")
            {
              document.getElementById('errores_ais').click();
            }            
            if(e.data["click.name2"]=="RCM" && e.data["click.value"]=="Errores Windows")
            {
              document.getElementById('errores_rcm').click();
            }      


        });

        var table5 = new TableElement({
            "id": "table5",
            "count": 10,
            "dataOverlayMode": "none",
            drilldownRedirect: false,
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search3",
            "el": $('#table5')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        table5.on("click", function(e) {    
            console.log(e)
            if( e.data["click.value"]=="Disponibilidad de FIREWALL RBI")
            {
              document.getElementById('red_firewall').click();
            }     
            if(e.data["click.value"]=="Disponibilidad F5")
            {
              document.getElementById('red_f5').click();
            }   
            if(e.data["click.value"]=="Disponibilidad SWITCH CORE")
            {
              document.getElementById('red_switch').click();
            }  

        });

        var element11 = new ChartElement({
            "id": "element11",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "line",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "right",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "1",
            "charting.chart.overlayFields": "RCM",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "managerid": "search11",
            "el": $('#element11')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_icons_rangemap.js" type="text/javascript">
</script>
</body>
</html>