/* Cell Highlighting */
/* 
#highlight td {
    background-color: #c1ffc3 !important;
}
*/
#element4 td.range-low {
    background-color: #1ab11c !important;
	color: #ffffff;
	font-weight: bold;
}
#element4 td.range-elevated {
    background-color: #F2FF2E !important;
	color: #000000;
    font-weight: bold;
}
#element4 td.range-severe {
    background-color: #ef392c !important;
	color: #ffffff;
    font-weight: bold;
}

#element6 td.range-low {
    background-color: #1ab11c !important;
	color: #ffffff;
	font-weight: bold;
}
#element6 td.range-elevated {
    background-color: #F2FF2E !important;
	color: #000000;
    font-weight: bold;
}
#element6 td.range-severe {
    background-color: #ef392c !important;
	color: #ffffff;
    font-weight: bold;
}

#element2 td.range-low {
    background-color: #1ab11c !important;
	color: #ffffff;
	font-weight: bold;
}
#element2 td.range-elevated {
    background-color: #F2FF2E !important;
	color: #000000;
    font-weight: bold;
}
#element2 td.range-severe {
    background-color: #ef392c !important;
	color: #ffffff;
    font-weight: bold;
}