/* Cell Highlighting */
/* 
#highlight td {
    background-color: #c1ffc3 !important;
}
*/
#highlight1 td.range-low {
    background-color: #1ab11c !important;
	color: #ffffff;
	font-weight: bold;
}
#highlight1 td.range-elevated {
    background-color: #F2FF2E !important;
	color: #000000;
    font-weight: bold;
}
#highlight1 td.range-severe {
    background-color: #ef392c !important;
	color: #ffffff;
    font-weight: bold;
}

#mytable td.range-low {
    background-color: #1ab11c !important;
	color: #ffffff;
	font-weight: bold;
}
#mytable td.range-elevated {
    background-color: #F2FF2E !important;
	color: #000000;
    font-weight: bold;
}
#mytable td.range-severe {
    background-color: #ef392c !important;
	color: #ffffff;
    font-weight: bold;
}

#highlight2 td.range-low {
    background-color: #1ab11c !important;
	color: #ffffff;
	font-weight: bold;
}
#highlight2 td.range-elevated {
    background-color: #F2FF2E !important;
	color: #000000;
    font-weight: bold;
}
#highlight2 td.range-severe {
    background-color: #ef392c !important;
	color: #ffffff;
    font-weight: bold;
}

