<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Panel Operacional</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="{{SPLUNKWEB_URL_PREFIX}}/static/css/build/pages/dashboard-simple-bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_decorations.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_cell_highlighting_operacional.css" />
</head>
<style>
	#panel1{
	width:50% !important;
	}
	#panel2{
	width:25% !important;
	}
	#panel3{
	width:25% !important;
	}
	
	.panel-footer{
		display: none !important;  
	}
	
	.edit-menu {
		display: none !important;
	}
</style>
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Panel Operacional</h2>
    </div>
	
	    <div id="row3" class="dashboard-row dashboard-row1">
        <div id="panel7" class="dashboard-cell" style="width: 16.66%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element7" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Componente AIS</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
		<div id="panel8" class="dashboard-cell" style="width: 16.66%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element8" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Respuesta WS</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
		<div id="panel9" class="dashboard-cell" style="width: 16.66%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element9" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>RCM</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
		<div id="panel10" class="dashboard-cell" style="width: 16.66%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element10" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Errores AIS</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
		<div id="panel11" class="dashboard-cell" style="width: 16.66%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element11" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Procesos diarios</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
		<div id="panel12" class="dashboard-cell" style="width: 16.66%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element12" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Transacciones</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Disponibilidad de Componentes AIS</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel2" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element2" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Respuestas WebService</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel3" class="dashboard-cell" style="width: 33.33%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element3" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Disponibilidad RCM</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel4" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element4" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Errores AIS</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel6" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element6" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Procesos Diarios</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	
	
	
	
	    <div id="row3" class="dashboard-row dashboard-row3">
        <div id="panel5" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                
                <div class="panel-element-row">
                    <div id="element5" class="dashboard-element table" style="width: 100%">
                        <div class="panel-head">
                            <h3>Transaccionalidad de Bancos</h3>
                        </div>
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
</div>
<div class="footer"></div>

<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simplexml/element/visualization",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/tokenforwarder"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        VisualizationElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // TokenForwarder
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        
        
        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "cancelOnUnload": true,
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "$earliest$",
            "search": 'index=cca_wfd sourcetype=st_status_services enabled=true earliest="-5m" latest="now" | dedup service host | eval componente="Servicios Windows", server_instancia=server."_".instancia| chart max(priority) as priority over componente by server_instancia| append [ search index=cca_wfd sourcetype=st_heartbeat earliest="-5m" latest="now" | lookup heartbeat url OUTPUT | search name="Proceso de deteccion" | dedup url | rename name AS componente | eval server_instancia=server."_".instancia| chart max(priority) as priority over componente by server_instancia]| append [ search index=cca_wfd sourcetype=st_heartbeat earliest="-5m" latest="now" | lookup heartbeat url OUTPUT | search name="Listener Principales"  | dedup url | rename name AS componente | eval server_instancia=server."_".instancia | chart max(priority) as priority over componente by server_instancia] | append [ search index=cca_wfd sourcetype=st_heartbeat earliest="-5m" latest="now" | lookup heartbeat url OUTPUT | search name="Proceso RCM" | dedup url | rename name AS componente | eval server_instancia=server."_".instancia | chart max(priority) as priority over componente by server_instancia ]| foreach AIS* [eval <<FIELD>>=case(\'<<FIELD>>\'=0, "0-verde", isnull(\'<<FIELD>>\'), "", 1==1, "1-rojo")]| table componente AIS1_01, AIS2_01, AIS3_01, AIS4_01, AIS5_MAINTENCE',
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
		
		var semaforo_1 = new PostProcessManager({
            "tokenDependencies": {
            },
            "managerid": "search1",
            "search": '| eval status=0 | foreach AIS* [eval status=if(\'<<FIELD>>\'="1-rojo", status+1, status+0)] | stats max(status) as status',
            "id": "semaforo_1"
        }, {tokens: true, tokenNamespace: "submitted"});
		
		 var myVar=setInterval(colores, 500);
		 
        var search2 = new SearchManager({
            "id": "search2",
            "cancelOnUnload": true,
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "$earliest$",
            "search": '| inputlookup umbral_operacional_respuestaws.csv | join type=left returnCode [search index=cca_wfd_summary query=summary_transacciones_sniffer returnCode!="unknown" earliest="-2h" latest="now" | stats count by returnCode] | fillnull value=0 count | eventstats sum(count) as total | eval perc=round((count/total)*100,2) | eval color=if(count>umbral_count OR perc>umbral_percent, "rojo", "verde") | eval count=count."-".color | rename returnCode AS Respuesta, count AS Estado | table Respuesta, Estado',
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
		
		var semaforo_2 = new PostProcessManager({
            "tokenDependencies": {
            },
            "managerid": "search2",
            "search": '| search Respuesta=9 OR Respuesta=10 | eval status=if(match(Estado, "verde"), 0, 1) | stats max(status) as status',
            "id": "semaforo_2"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "cancelOnUnload": true,
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "0",
            "search": '| inputlookup heartbeat.csv | where server="RCM" AND enabled="true" | table url, server, enabled | join type=left url [search index="cca_wfd" sourcetype="st_heartbeat" server="RCM" enabled="true" earliest="-5m" latest="now" | head 1 | eval time=strftime(_time, "%Y-%m-%d %H:%M:%S")] | fillnull value=1 Estado | rename server AS Componente, priority AS Estado | table Componente, Estado | eval Estado=if(Estado=0,"0-verde", "1-rojo")',
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
		
		var semaforo_3 = new PostProcessManager({
            "tokenDependencies": {
            },
            "managerid": "search3",
            "search": ' | eval status=if(Estado="0-verde", 0, 1) | stats max(status) as status',
            "id": "semaforo_3"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new SearchManager({
            "id": "search4",
            "cancelOnUnload": true,
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "$earliest$",
            "search": '| inputlookup umbral_operacional_erroresais.csv | where enabled="true" | table eventtype umbral_rojo | join type=left eventtype [ search index="cca_wfd" sourcetype="st_server_tomcat" name!=AIS5 earliest="-1h" latest="now" | eval value=name."_".instancia_new | chart count over eventtype by value ] | fillnull value=0 | foreach AIS* [eval <<FIELD>>=if(\'<<FIELD>>\'>umbral_rojo, \'<<FIELD>>\'."-rojo", \'<<FIELD>>\'."-verde")] | rename eventtype AS Errores | table Errores, AIS*',
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

		var semaforo_4 = new PostProcessManager({
            "tokenDependencies": {
            },
            "managerid": "search4",
            "search": '| eval status=0 | foreach AIS* [eval status=if(\'<<FIELD>>\'="1-rojo", status+1, status+0)] | stats max(status) as status',
            "id": "semaforo_4"
        }, {tokens: true, tokenNamespace: "submitted"});
		
        var search5 = new SearchManager({
            "id": "search5",
            "cancelOnUnload": true,
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "0",
            "search": '| inputlookup bancos.csv   | search NOT (bank_name="UNKNOWN" OR bank_name="INDUSTRIA")  | table bank_name, orden, bank_group  | join type=left bank_name [ search   index="cca_wfd_summary" query=summary_transacciones_sniffer bank_name!="UNKNOWN" earliest="-32m" latest="-2m@m"  | bucket span=1m _time | chart sum(count) as count by bank_name, _time limit=0 ]  | fillnull value=0  | script countZero | join type=left bank_name [ search  index="cca_wfd_summary" query=summary_transacciones_sniffer bank_name!="UNKNOWN" earliest="-32m" latest="-2m@m"  | bucket span=1m _time   | stats sparkline(sum(count), 1m) as trend by bank_name ]  | makemv delim="," setsv=true trend  | table bank_group, bank_name, flag, trend, orden  | sort +orden, -flag  | eval flag=if(flag=0, "0-verde", "1-rojo") | fields - orden | head 5 | table bank_group flag trend|rename bank_group as Banco, flag as Estado,trend as Transacciones',
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
		
		var semaforo_5 = new PostProcessManager({
            "tokenDependencies": {
            },
            "managerid": "search5",
            "search": '| eval status=if(Estado="0-verde", 0, 1) | stats sum(status) as status | eval status=if(status>1, 1, 0)',
            "id": "semaforo_5"
        }, {tokens: true, tokenNamespace: "submitted"});

        var search6 = new SearchManager({
            "id": "search6",
            "cancelOnUnload": true,
            "sample_ratio": null,
            "status_buckets": 0,
            "earliest_time": "$earliest$",
            "search": 'index=cca_wfd sourcetype="st_maintenance" earliest=-1d@d latest=now source!="*tech*" NOT "<log ended>" | rex field=source "(?P<sourcename>IMPL_maintenance.+\\.log)" | search [search index=cca_wfd sourcetype="st_maintenance" earliest=-1d@d latest=now source!="*tech*" | rex field=source "(?P<sourcename>IMPL_maintenance.+\\.log)" | sort - _time | stats first(sourcename) as sourcename | fields sourcename | return sourcename] | eval estado=if(isnull(status), "Running", status) | stats min(_time) as hora_inicio, max(_time) as hora_termino, first(estado) as estado, first(message) as message, count(eval(severity="ERROR")) as cantidad_errores by source | eval duracion=if(estado="Running", tostring((now()-hora_inicio), "duration"), tostring(hora_termino-hora_inicio, "duration")) | fieldformat hora_inicio=strftime(hora_inicio, "%Y-%m-%d %H:%M:%S") | fieldformat hora_termino=strftime(hora_termino, "%Y-%m-%d %H:%M:%S") | eval hora_termino=if(estado="Running", "-", hora_termino) | table hora_inicio, hora_termino, duracion, cantidad_errores, estado',
            "latest_time": "$latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});
		
		var semaforo_6 = new PostProcessManager({
            "tokenDependencies": {
            },
            "managerid": "search6",
            "search": '| eval status=if(estado="Finished successfully", 0, 1) | stats max(status) as status',
            "id": "semaforo_6"
        }, {tokens: true, tokenNamespace: "submitted"});



        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: true
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element1 = new TableElement({
            "id": "element1",
            "count": 20,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "rowNumbers": "false",
			"refresh.auto.interval":"300",
            "wrap": "false",
            "managerid": "search1",
            "link.visible": false,
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element2 = new TableElement({
            "id": "element2",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "rowNumbers": "false",
            "wrap": "false",
			"refresh.auto.interval":"300",
            "managerid": "search2",
            "link.visible": false,
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element3 = new TableElement({
            "id": "element3",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "rowNumbers": "false",
            "wrap": "false",
			"refresh.auto.interval":"300",
            "managerid": "search3",
            "link.visible": false,
            "el": $('#element3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element4 = new TableElement({
            "id": "element4",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "rowNumbers": "false",
            "wrap": "false",
			"refresh.auto.interval":"300",
            "managerid": "search4",
            "link.visible": false,
            "el": $('#element4')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element5 = new TableElement({
            "id": "element5",
            "count": 20,
			"format": {"Transacciones": [{"type": "sparkline", "options": {"barWidth": "5px","colorMap": {"1:": "#04B404","0:0": "#FF0000"},"type": "bar", "height": "8px"}}]},
            "dataOverlayMode": "none",
            "drilldown": "none",
            "rowNumbers": "false",
            "wrap": "false",
			"refresh.auto.interval":"300",
            "managerid": "search5",
            "link.visible": false,
            "el": $('#element5')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element6 = new TableElement({
            "id": "element6",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "rowNumbers": "false",
            "wrap": "false",
			"refresh.auto.interval":"300",
            "managerid": "search6",
            "link.visible": false,
            "el": $('#element6')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		
		var element7 = new SingleElement({
            "id": "element7",
            "rangeValues": "[0]",
            "showTrendIndicator": "1",
            "useColors": "1",
            "colorBy": "value",
            "linkView": "search",
            "drilldown": "none",
            "rangeColors": "[\"0x65a637\",\"0xd93f3c\"]",
            "trendColorInterpretation": "standard",
            "colorMode": "block",
            "trendDisplayMode": "absolute",
            "showSparkline": "1",
            "numberPrecision": "0",
            "useThousandSeparators": "1",
            "unitPosition": "after",
            "managerid": "semaforo_1",
            "el": $('#element7')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		
		var element8 = new SingleElement({
            "id": "element8",
            "rangeValues": "[0]",
            "showTrendIndicator": "1",
            "useColors": "1",
            "colorBy": "value",
            "linkView": "search",
            "drilldown": "none",
            "rangeColors": "[\"0x65a637\",\"0xd93f3c\"]",
            "trendColorInterpretation": "standard",
            "colorMode": "block",
            "trendDisplayMode": "absolute",
            "showSparkline": "1",
            "numberPrecision": "0",
            "useThousandSeparators": "1",
            "unitPosition": "after",
            "managerid": "semaforo_2",
            "el": $('#element8')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		
		var element9 = new SingleElement({
            "id": "element9",
            "rangeValues": "[0]",
            "showTrendIndicator": "1",
            "useColors": "1",
            "colorBy": "value",
            "linkView": "search",
            "drilldown": "none",
            "rangeColors": "[\"0x65a637\",\"0xd93f3c\"]",
            "trendColorInterpretation": "standard",
            "colorMode": "block",
            "trendDisplayMode": "absolute",
            "showSparkline": "1",
            "numberPrecision": "0",
            "useThousandSeparators": "1",
            "unitPosition": "after",
            "managerid": "semaforo_3",
            "el": $('#element9')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		
		var element10 = new SingleElement({
            "id": "element10",
            "rangeValues": "[0]",
            "showTrendIndicator": "1",
            "useColors": "1",
            "colorBy": "value",
            "linkView": "search",
            "drilldown": "none",
            "rangeColors": "[\"0x65a637\",\"0xd93f3c\"]",
            "trendColorInterpretation": "standard",
            "colorMode": "block",
            "trendDisplayMode": "absolute",
            "showSparkline": "1",
            "numberPrecision": "0",
            "useThousandSeparators": "1",
            "unitPosition": "after",
            "managerid": "semaforo_4",
            "el": $('#element10')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		
		var element11 = new SingleElement({
            "id": "element11",
            "rangeValues": "[0]",
            "showTrendIndicator": "1",
            "useColors": "1",
            "colorBy": "value",
            "linkView": "search",
            "drilldown": "none",
            "rangeColors": "[\"0x65a637\",\"0xd93f3c\"]",
            "trendColorInterpretation": "standard",
            "colorMode": "block",
            "trendDisplayMode": "absolute",
            "showSparkline": "1",
            "numberPrecision": "0",
            "useThousandSeparators": "1",
            "unitPosition": "after",
            "managerid": "semaforo_6",
            "el": $('#element11')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		
		var element12 = new SingleElement({
            "id": "element12",
            "rangeValues": "[0]",
            "showTrendIndicator": "1",
            "useColors": "1",
            "colorBy": "value",
            "linkView": "search",
            "drilldown": "none",
            "rangeColors": "[\"0x65a637\",\"0xd93f3c\"]",
            "trendColorInterpretation": "standard",
            "colorMode": "block",
            "trendDisplayMode": "absolute",
            "showSparkline": "1",
            "numberPrecision": "0",
            "useThousandSeparators": "1",
            "unitPosition": "after",
            "managerid": "semaforo_5",
            "el": $('#element12')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        submitTokens();


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;
		
		function colores (){
			var color_1=$("#element7 .block-background").css("fill");
			if(color_1 == "rgb(101, 166, 55)"){
				$("#element7 .single-result").css("fill","rgb(101, 166, 55)");
			}else{
				$("#element7 .single-result").css("fill","rgb(217, 63, 60)");
			}
			
			var color_2=$("#element8 .block-background").css("fill");
			if(color_2 == "rgb(101, 166, 55)"){
				$("#element8 .single-result").css("fill","rgb(101, 166, 55)");
			}else{
				$("#element8 .single-result").css("fill","rgb(217, 63, 60)");
			}
			
			var color_3=$("#element9 .block-background").css("fill");
			if(color_3 == "rgb(101, 166, 55)"){
				$("#element9 .single-result").css("fill","rgb(101, 166, 55)");
			}else{
				$("#element9 .single-result").css("fill","rgb(217, 63, 60)");
			}
			
			var color_4=$("#element10 .block-background").css("fill");
			if(color_4 == "rgb(101, 166, 55)"){
				$("#element10 .single-result").css("fill","rgb(101, 166, 55)");
			}else{
				$("#element10 .single-result").css("fill","rgb(217, 63, 60)");
			}
			
			var color_5=$("#element11 .block-background").css("fill");
			if(color_5 == "rgb(101, 166, 55)"){
				$("#element11 .single-result").css("fill","rgb(101, 166, 55)");
			}else{
				$("#element11 .single-result").css("fill","rgb(217, 63, 60)");
			}
			
			var color_6=$("#element12 .block-background").css("fill");
			if(color_6 == "rgb(101, 166, 55)"){
				$("#element12 .single-result").css("fill","rgb(101, 166, 55)");
			}else{
				$("#element12 .single-result").css("fill","rgb(217, 63, 60)");
			}

		}
		
		function iconos_componente(){
			$('#subTable tr').each(function() {
				$(this).find('td').each(function(){
					var cell=$(this).html();
					
					if(cell.indexOf("0-verde") >= 0){
						$(this).addClass("icon").html("<i class=icon-check-circle></i>");
						$(this).css("font-size","25px");
					}else if(cell.indexOf("1-rojo") >= 0){
						$(this).addClass("icon").html("<i class=icon-alert-circle></i>");
						$(this).css("font-size","25px");
					}
				});
			});
		}
		
		function iconos_bancos(){
			$('#subBancos tr').each(function() {
				$(this).find('td').each(function(){
					var cell=$(this).html();
					
					if(cell.indexOf("0-verde") >= 0){
						$(this).addClass("icon").html("<i class=icon-check-circle></i>");
						$(this).css("font-size","25px");
					}else if(cell.indexOf("1-rojo") >= 0){
						$(this).addClass("icon").html("<i class=icon-alert-circle></i>");
						$(this).css("font-size","25px");
					}
				});
			});
		}
		
		$("#element1").on("click", function(e){
			var myVar=setInterval(iconos_componente, 500);
		
		});
		
		$("#element5").on("click", function(e){
			var myVar=setInterval(iconos_bancos, 500);
		
		});

    }
);
// ]]>
</script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_icons_rangemap_operacional.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_cell_highlighting_operacional.js" type="text/javascript"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/tableexpand.js" type="text/javascript"></script>
</body>
</html>