<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sub Panel de Errores AIS</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.198/css/build/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.198/css/build/pages/dashboard-simple-bootstrap.min.css" />
</head>
  
<style>
.dashboard-row .dashboard-panel .ui-resizable-handle{
    display: none !important;
 }

.dashboard-row .dashboard-panel .dashboard-element .panel-footer {
    display: none;
 }

  </style>  
  
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Sub Panel de Errores AIS</h2><div align="right" id="texto"></div>
    </div>
    <div class="fieldset">
        <div class="input input-dropdown" id="input1">
            <label>Banco</label>
        </div>
        <div class="input input-timerangepicker" id="input2">
            <label>Fecha</label>
        </div>
    </div>


    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Errores por Tipo de Transacción</h2>
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel2" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Errores Por Banca</h2>
                
                <div class="panel-element-row">
                    <div id="element2" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel3" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Errores AIS</h2>
                
                <div class="panel-element-row">
                    <div id="element3" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div style="display:none">
        <a href="" id='redirige'></a>
    </div>
    
</div>





<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/checkboxview"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // CheckboxView
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        //Funcion que muestra la ultima hora de actualizacion
		function mostrarHora(){
			var fecha_js = new Date();
			var segundos = fecha_js.getSeconds();
			var hora = fecha_js.getHours(); 
			var minutos = fecha_js.getMinutes();
			
			segundos++;
	 
			if (segundos == 60) {
			  segundos = 0;
			  minutos++;
			  if (minutos == 60) {
				minutos = 0;
				hora++;
				if (hora == 24) {
				  hora = 0;
				}
			  }
			}
			var seg = ((segundos + 1) < 10 ? '0' : '') + (segundos + 1);
			var min = ((minutos	+ 1) < 10 ? '0' : '') + (minutos + 1);
			texto.innerHTML =  "Ultima actualización: "  + hora + ":" + min + ":" + seg;
		}
		mostrarHora();
        
        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "search": "index=cca_wfd_summary query=\"summary_transacciones_sniffer\" returnCode!=0 NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group            |search bank_name=\"$banco$\"         |timechart [stats count | addinfo | eval range=info_max_time - info_min_time          |eval search=case(range<=3700, \"span=1m sum(count) by tipo_transaccion\",range > 3700 AND range <=90000, \"span=1h sum(count) by tipo_transaccion\", range > 90000,\"span=1d sum(count) by tipo_transaccion\",1=1,\"span=1d sum(count) by tipo_transaccion\")]",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "search": "index=cca_wfd_summary query=\"summary_transacciones_sniffer\" returnCode!=0 NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\"            |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(count) by banca_tipo\",range > 3700 AND range <=90000, \"span=1h sum(count) by banca_tipo\",range > 90000,\"span=1d sum(count) by banca_tipo\",1=1,\"span=1d sum(count) by banca_tipo\")]",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "search": "index=cca_wfd_summary query=\"summary_transacciones_sniffer\"  returnCode!=0 NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group                |search bank_name=\"$banco$\"                |lookup return_code returnCode OUTPUT message     |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(count) by message\",range > 3700 AND range <=90000, \"span=1h sum(count) by message\",range > 90000,\"span=1d sum(count) by message \",1=1,\"span=1d sum(count) by message\")]",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});



        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element1 = new ChartElement({
            "id": "element1",
            "charting.axisY2.enabled": "0",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "line",
            "charting.drilldown": "all",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "managerid": "search1",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element2 = new ChartElement({
            "id": "element2",
            "charting.axisY2.enabled": "0",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "line",
            "charting.drilldown": "all",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "managerid": "search2",
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element3 = new ChartElement({
            "id": "element3",
            "charting.axisY2.enabled": "0",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "line",
            "charting.drilldown": "all",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "managerid": "search3",
            "el": $('#element3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        
        element3.on("click", function(e) {
        
        /*
        //console.log(e.data[]);
        console.log(input1);
        
        console.log(input2);
        console.log(input2.options.earliest_time);
        
        
        var tokens = mvc.Components.getInstance ("kang");
        var defaultEtime = tokens.options.default.earliest_time;
        
        form.tiempo.earliest
        
        
        var test = defaultTokenModel.get("tiempo.latest");
        
        */
        
        

 
 
 document.getElementById("redirige").href='/en-US/app/cca_wfd/search?earliest=%40d&latest=now&q=search%20index%3Dcca_wfd%20sourcetype%3D"stream%3Ahttp"%20FF_WS_evaluateAccountToAccountTransfer_V5%20%60campos%60%0A%7C%20%60filtro_robot%60%0A%7C%20eval%20tipo_trx%3Dif(match(src_content%2C".*FF_WS_PS_validateChallenge_V1.*")%2C%20"Challenge"%2C%20"Normal")%0A%7C%20eval%20resp_trx%3Dif(match(dest_content%2C".*AIS%20service%20invocation%20error.*")%2C%20"Error%20AIS"%2C%20if(match(dest_content%2C".*Error%20parsing%20document.*")%2C%20"Error%20parsing%20document"%2C%20if(match(dest_content%2C%20".*Could%20not%20find%20operation.*")%2C%20"Could%20not%20find%20operation"%2C%20if(match(dest_content%2C%20".*Invalid%20UTF-8.*")%2C%20"Invalid%20UTF-8"%2C%20if(match(dest_content%2C%20".*Undeclared%20general%20entity.*")%2C%20"Undeclared%20general%20entity"%2C%20if(match(dest_content%2C%20".*Unexpected%20character.*")%2C%20"Unexpected%20character"%2C%20"Normal"))))))%20%7C%20bucket%20span%3D1m%20_time%20%0A%7C%20fillnull%20value%3D"false"%20rejectedTransactionInd%20resendDueToFailureInd%20isAlertGenerated%0A%7C%20fillnull%20value%3D"unknown"%20bank_name%20tipo_transaccion%20banca_tipo%20returnCode%20responseCode%20actimizeAnalyticsScore%20%0A%7C%20eval%20rejectedTransactionInd%3Dlower(rejectedTransactionInd)%0A%7C%20eval%20resendDueToFailureInd%3Dlower(resendDueToFailureInd)%0A%7C%20search%20returnCode!%3D0%20%7C%20lookup%20bancos%20bank_name%20OUTPUT%20bank_group%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7Csearch%20bank_group%3D"*"%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%7Clookup%20return_code%20returnCode%20OUTPUT%20message%20%7C%20table%20_time%2C%20banca%2C%20banca_tipo%2C%20bank_code%2C%20bank_full_name%2C%20bank_group%2C%20bank_name%2C%20c_ip%2C%20dest_ip%2C%20dest_port%2C%20isAlertGenerated%2C%20message%2C%20message_tech%2C%20request%2C%20resendDueToFailureInd%2C%20rejectedTransactionInd%2C%20responseCode%2C%20returnCode%2C%20src_ip%2C%20status%2C%20tipo_transaccion%2C%20transactionType%2C%20trxKey%2C%20userAnalyticsScore%2C%20actimizeAnalyticsScore%2C%20RespChellenge%2C%20*time*%2C%20src_content%2C%20dest_content%2C%20tipo_trx%2C%20resp_trx&display.page.search.mode=verbose&dispatch.sample_ratio=1&display.page.search.tab=statistics&display.general.type=statistics&display.visualizations.charting.chart=line&sid=1479345728.12897';
 
        document.getElementById('redirige').click();

        
        });


        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new DropdownInput({
            "id": "input1",
            "choices": [
                {"label": "BANCO DE CHILE", "value": "BANCO DE CHILE"},
                {"label": "BANCO SANTANDER", "value": "BANCO SANTANDER"},
                {"label": "BANCO BCI", "value": "BANCO BCI"},
                {"label": "BANCO ESTADO", "value": "BANCO ESTADO"},
                {"label": "BANCO SCOTIABANK", "value": "BANCO SCOTIABANK"},
				{"label": "BANCO BICE", "value": "BANCO BICE"},
				{"label": "BANCO ITAU", "value": "BANCO ITAU"},
				{"label": "BANCO SECURITY", "value": "BANCO SECURITY"},
				{"label": "BANCO BBVA", "value": "BANCO BBVA"},
				{"label": "COOPEUCH", "value": "COOPEUCH"},
				{"label": "BANCO CORPBANCA", "value": "BANCO CORPBANCA"},
                {"label": "INDUSTRIA", "value": "*"}
            ],
            "selectFirstChoice": false,
            "searchWhenChanged": true,
            "showClearButton": true,
            "default": "*",
            "value": "$form.banco$",
            "el": $('#input1')
        }, {tokens: true}).render();

       

        input1.on("change", function(newValue) {
			mostrarHora();
            FormUtils.handleValueChange(input1);
        });
        
        var input2 = new TimeRangeInput({
            "id": "input2",
            "searchWhenChanged": true,
            "default": {"latest_time": "now", "earliest_time": "@d"},
            "earliest_time": "$form.tiempo.earliest$",
            "latest_time": "$form.tiempo.latest$",
            "el": $('#input2')
        }, {tokens: true}).render();

        input2.on("change", function(newValue) {
            mostrarHora();
			FormUtils.handleValueChange(input2);
        });


		
        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }

 
        


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
</body>
</html>