<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sub Panel Funcional</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.256/css/build/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.256/css/build/pages/dashboard-simple-bootstrap.min.css" />
</head>
  
<style>
.dashboard-row .dashboard-panel .ui-resizable-handle{
    display: none !important;
 }

.dashboard-row .dashboard-panel .dashboard-element .panel-footer {
    display: none;
 }
  
#element6 td{
background-color: white;
}
  
#element6 td.numeric{
text-align: center;
}  
  
#element6 th {
    text-align: center;
    vertical-align:middle;
}

.results-table {
    overflow-x: hidden !important;
}
  
</style>    
  
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Sub Panel Funcional</h2> <div align="right" id="texto"></div>
    </div>
    <div class="fieldset">
        <div class="input input-dropdown" id="input1">
            <label>Banco</label>
        </div>
        <div class="input input-timerangepicker" id="input2">
            <label>Fecha</label>
        </div>
    </div>


    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Recomendación por Tipo de Transacción</h2>
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel2" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Recomendación por Banca</h2>
                
                <div class="panel-element-row">
                    <div id="element2" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div id="row3" class="dashboard-row dashboard-row3">
        <div id="panel5" class="dashboard-cell">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Recomendación</h2>
                
                <div class="panel-element-row" style="width:100%">
                    
                    <div id="element5" class="dashboard-element chart" style="width:50%;float:left">
                    </div>
                    
                    <div style="width:50%;float:left">
                    <div id="element6" class="dashboard-element table">
                    </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
    
        <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel3" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Alertas por Tipo de Transacción</h2>
                
                <div class="panel-element-row">
                    <div id="element3" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel4" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Alertas por Banca</h2>
                
                <div class="panel-element-row">
                    <div id="element4" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="row4" class="dashboard-row dashboard-row4">
        <div id="panel7" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Score por tipo de transacción</h2>
                
                <div class="panel-element-row">
                    <div id="element7" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel8" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Score por Banca</h2>
                
                <div class="panel-element-row">
                    <div id="element8" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row5" class="dashboard-row dashboard-row5">
        <div id="panel9" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Respuesta Challenge</h2>
                
                <div class="panel-element-row">
                    <div id="element11" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel10" class="dashboard-cell" style="width: 50%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Respuesta Challege</h2>
                
                <div class="panel-element-row">
                    <div id="element12" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/checkboxview"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // CheckboxView
        ) {

        var pageLoading = true;

        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }
		//Funcion que muestra la ultima hora de actualizacion
		function mostrarHora(){
			var fecha_js = new Date();
			var segundos = fecha_js.getSeconds();
			var hora = fecha_js.getHours(); 
			var minutos = fecha_js.getMinutes();
			
			segundos++;
	 
			if (segundos == 60) {
			  segundos = 0;
			  minutos++;
			  if (minutos == 60) {
				minutos = 0;
				hora++;
				if (hora == 24) {
				  hora = 0;
				}
			  }
			}
			var seg = ((segundos + 1) < 10 ? '0' : '') + (segundos + 1);
			var min = ((minutos	+ 1) < 10 ? '0' : '') + (minutos + 1);
			texto.innerHTML =  "Ultima actualización: "  + hora + ":" + min + ":" + seg;
		}
		mostrarHora();
        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": "index=cca_wfd_summary query=\"summary_transacciones_sniffer\"| lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\" AND (responseCode=\"Decline\" OR responseCode=\"Challenge\") | bucket [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3600,\"span=1m _time\",range >3600 AND range <=86400,\"span=1h _time \",range>86400,\"span=1d _time\",1=1,\"span=1d _time\")] | chart sum(count) by tipo_transaccion,responseCode",
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": "|inputlookup funcional_bancatipo.csv | join type=left banca_tipo [search index=cca_wfd_summary query=\"summary_transacciones_sniffer\"| lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\" AND (responseCode=\"Decline\" OR responseCode=\"Challenge\") | bucket [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3600,\"span=1m _time\",range >3600 AND range <=86400,\"span=1h _time \",range>86400,\"span=1d _time\",1=1,\"span=1d _time\")] | chart sum(count) by banca_tipo,responseCode] | fillnull value=0 | table banca_tipo Challenge Decline",
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_sniffer\"  |lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\"  AND isAlertGenerated=true  |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(count) by tipo_transaccion\",range>3700 AND range<=90000, \"span=1h sum(count) by tipo_transaccion\",range>90000,\"span=1d sum(count) by tipo_transaccion\",1=1,\"span=1m sum(count) by tipo_transaccion\")] |fillnull value=0 \"Not On Us\" \"On Us\"",
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new SearchManager({
            "id": "search4",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_sniffer\" |lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\"  AND isAlertGenerated=true          |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(count) by banca_tipo\",range>3700 AND range<=90000, \"span=1h sum(count) by banca_tipo\",range>90000,\"span=1d sum(count) by banca_tipo\",1=1,\"span=1m sum(count) by banca_tipo\")]|fillnull value=0 \"empresa\" \"persona\"",
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search5 = new SearchManager({
            "id": "search5",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": 'index=cca_wfd_summary query="summary_transacciones_sniffer" rejectedTransactionInd!="true" tipo_trx="Normal" resp_trx="Normal" returnCode!=9| lookup bancos bank_name OUTPUT bank_group |search bank_name="$banco$" | chart sum(count) as "Cantidad" by responseCode',
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search6 = new SearchManager({
            "id": "search6",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": 'index=cca_wfd_summary query="summary_transacciones_sniffer" rejectedTransactionInd!="true" tipo_trx="Normal" resp_trx="Normal" returnCode!=9 | lookup bancos bank_name OUTPUT bank_group |search bank_name="$banco$" | stats sum(count) as Cantidad  by responseCode |eventstats sum(Cantidad) as Total | eval Porcentaje=round( ((Cantidad/Total)*100),2)| table responseCode,Cantidad,Porcentaje | RENAME responseCode as " "',
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search7 = new SearchManager({
            "id": "search7",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_sniffer\"| lookup bancos bank_name OUTPUT bank_group | search bank_name=\"$banco$\" | rangemap field=actimizeAnalyticsScore \"0\"=0-0 \"5\"=5-5 \"10\"=10-10 \"15\"=15-15 \"20\"=20-20 \"25\"=25-25 \"30\"=30-30 \"35\"=35-35 \"40\"=40-40 \"45\"=45-45 \"50\"=50-50 \"55\"=55-55 \"60\"=60-60 \"65\"=65-65 \"70\"=70-70 \"75\"=75-75 \"80\"=80-80 \"85\"=85-85 \"90\"=90-90 \"95\"=95-95 \"100\"=100-100 | search range!=None | chart sum(count) as count by range, tipo_transaccion | fillnull value=0 \"Not On Us\" \"On Us\" ",
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search8 = new SearchManager({
            "id": "search8",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": 'index="cca_wfd_summary" query="summary_transacciones_sniffer" | lookup bancos bank_name OUTPUT bank_group | search bank_name="$banco$" | rangemap field=actimizeAnalyticsScore "0"=0-0 "5"=5-5 "10"=10-10 "15"=15-15 "20"=20-20 "25"=25-25 "30"=30-30 "35"=35-35 "40"=40-40 "45"=45-45 "50"=50-50 "55"=55-55 "60"=60-60 "65"=65-65 "70"=70-70 "75"=75-75 "80"=80-80 "85"=85-85 "90"=90-90 "95"=95-95 "100"=100-100 | search range!=None | chart sum(count) as count by range, banca_tipo | fillnull value=0 empresa, persona ',
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search9 = new SearchManager({
            "id": "search9",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": "index=cca_wfd sourcetype=st_account_account",
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search10 = new SearchManager({
            "id": "search10",
            "status_buckets": 0,
            "earliest_time": "$tiempo.earliest$",
            "search": "index=cca_wfd sourcetype=st_account_account",
            "latest_time": "$tiempo.latest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search11 = new SearchManager({
            "id": "search11",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "earliest_time": "$tiempo.earliest$",
            "search": "|inputlookup funcional_bancatipo.csv | join type=left banca_tipo [search index=\"cca_wfd_summary\" query=\"respuesta_challenge\" | lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\"| eval RespChallenge = if(RespChallenge=\"true\",\"Exito\",\"Fallido\") | chart sum(count) over banca_tipo by RespChallenge] | fillnull value=0 | table banca_tipo Exito Fallido",
            "latest_time": "$tiempo.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search12 = new SearchManager({
            "id": "search12",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "sample_ratio": null,
            "earliest_time": "$tiempo.earliest$",
            "search": "index=\"cca_wfd_summary\" query=\"respuesta_challenge\" | lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\"| eval RespChallenge = if(RespChallenge=\"true\",\"Exito\",\"Fallido\") | chart sum(count) over tipo_transaccion by RespChallenge",
            "latest_time": "$tiempo.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});



        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();

        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();

        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element11 = new ChartElement({
            "id": "element11",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.chart.bubbleSizeBy": "area",
            "resizable": true,
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.axisY.scale": "linear",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.axisTitleY2.visibility": "visible",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.chart": "bar",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "none",
            "charting.axisTitleX.visibility": "collapsed",
            "charting.chart.style": "shiny",
            "charting.chart.showDataLabels": "none",
            "charting.legend.placement": "bottom",
            "charting.chart.stackMode": "default",
            "charting.axisX.scale": "linear",
            "charting.chart.bubbleMinimumSize": "10",
            "managerid": "search11",
			"height":"150",
            "el": $('#element11')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element12 = new ChartElement({
            "id": "element12",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisY2.scale": "inherit",
            "charting.axisY2.enabled": "0",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.chart.bubbleSizeBy": "area",
            "resizable": true,
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.axisY.scale": "linear",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.axisTitleY2.visibility": "visible",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.chart": "bar",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "none",
            "charting.axisTitleX.visibility": "collapsed",
            "charting.chart.style": "shiny",
            "charting.chart.showDataLabels": "none",
            "charting.legend.placement": "bottom",
            "charting.chart.stackMode": "default",
            "charting.axisX.scale": "linear",
            "charting.chart.bubbleMinimumSize": "10",
            "managerid": "search12",
			"height":"150",
            "el": $('#element12')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element1 = new ChartElement({
            "id": "element1",
            "charting.axisTitleX.visibility": "collapsed",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "none",
            "charting.chart": "bar",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "collapsed",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search1",
			"height":"150",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element2 = new ChartElement({
            "id": "element2",
            "charting.axisTitleX.visibility": "collapsed",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "none",
            "charting.chart": "bar",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "collapsed",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search2",
			"height":"150",
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element3 = new ChartElement({
            "id": "element3",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "none",
            "charting.chart": "line",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "connect",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search3",
            "el": $('#element3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element4 = new ChartElement({
            "id": "element4",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "none",
            "charting.chart": "line",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "connect",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search4",
            "el": $('#element4')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element5 = new ChartElement({
            "id": "element5",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "none",
            "charting.chart": "pie",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "right",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search5",
			"height":"150",
            "el": $('#element5')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element6 = new TableElement({
            "id": "element6",
            "count": 10,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search6",
            "el": $('#element6')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		
		var element7 = new TableElement({
            "id": "element7",
            "count": 20,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search7",
            "el": $('#element7')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
		

        /*var element7 = new ChartElement({
            "id": "element7",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "table",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search7",
            "el": $('#element7')
        }, {tokens: true, tokenNamespace: "submitted"}).render();*/
		var element8 = new TableElement({
            "id": "element8",
            "count": 20,
            "dataOverlayMode": "none",
            "drilldown": "none",
            "link.visible": false,
            "rowNumbers": "false",
            "wrap": "true",
            "managerid": "search8",
            "el": $('#element8')
        }, {tokens: true, tokenNamespace: "submitted"}).render();
        /*var element8 = new ChartElement({
            "id": "element8",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "table",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search8",
            "el": $('#element8')
        }, {tokens: true, tokenNamespace: "submitted"}).render();*/

        var element9 = new ChartElement({
            "id": "element9",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "bar",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "right",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search9",
			"height":"150",
            "el": $('#element9')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        var element10 = new ChartElement({
            "id": "element10",
            "charting.axisTitleX.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "bar",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "link.visible": "false",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisX.scale": "linear",
            "charting.chart.stackMode": "default",
            "charting.legend.placement": "right",
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.showDataLabels": "none",
            "charting.axisY2.scale": "inherit",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.axisY2.enabled": "0",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.axisY.scale": "linear",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "resizable": true,
            "charting.chart.bubbleMaximumSize": "50",
            "managerid": "search10",
            "el": $('#element10')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new DropdownInput({
            "id": "input1",
            "choices": [
                {"label": "BANCO DE CHILE", "value": "BANCO DE CHILE"},
                {"label": "BANCO SANTANDER", "value": "BANCO SANTANDER"},
                {"label": "BANCO BCI", "value": "BANCO BCI"},
                {"label": "BANCO ESTADO", "value": "BANCO ESTADO"},
                {"label": "BANCO SCOTIABANK", "value": "BANCO SCOTIABANK"},
				{"label": "BANCO BICE", "value": "BANCO BICE"},
				{"label": "BANCO ITAU", "value": "BANCO ITAU"},
				{"label": "BANCO SECURITY", "value": "BANCO SECURITY"},
				{"label": "BANCO BBVA", "value": "BANCO BBVA"},
				{"label": "COOPEUCH", "value": "COOPEUCH"},
				{"label": "BANCO CORPBANCA", "value": "BANCO CORPBANCA"},
                {"label": "INDUSTRIA", "value": "*"}
            ],
            "default": "*",
            "searchWhenChanged": true,
            "showClearButton": true,
            "selectFirstChoice": false,
            "value": "$form.banco$",
            "el": $('#input1')
        }, {tokens: true}).render();

        input1.on("change", function(newValue) {
			mostrarHora();
            FormUtils.handleValueChange(input1);
        });
        
        var input2 = new TimeRangeInput({
            "id": "input2",
            "default": {"latest_time": "now", "earliest_time": "@d"},
            "searchWhenChanged": true,
            "earliest_time": "$form.tiempo.earliest$",
            "latest_time": "$form.tiempo.latest$",
            "el": $('#input2')
        }, {tokens: true}).render();

        input2.on("change", function(newValue) {
			mostrarHora();
            FormUtils.handleValueChange(input2);
        });
        
        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }

        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

      

    }
);
// ]]>
</script>
</body>
</html>