<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sub Panel de Transacciones</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.198/css/build/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.198/css/build/pages/dashboard-simple-bootstrap.min.css" />
</head>
  
<style>
.dashboard-row .dashboard-panel .ui-resizable-handle{
    display: none !important;
 }

.dashboard-row .dashboard-panel .dashboard-element .panel-footer {
    display: none;
 }
</style>  
  
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Sub Panel de Transacciones</h2><div align="right" id="texto"></div>
    </div>
    <div class="fieldset">
        <div class="input input-dropdown" id="input1">
            <label>Banco</label>
        </div>
        <div class="input input-timerangepicker" id="input2">
            <label>Fecha</label>
        </div>
    </div>


    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Cantidad de Transacciones por Tipo de Transacción</h2>
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel2" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Cantidad de Transacciones por Banca</h2>
                
                <div class="panel-element-row">
                    <div id="element2" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel3" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Cantidad de Rechazos y Reinsistencias</h2>
                
                <div class="panel-element-row">
                    <div id="element3" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
		<div id="panel5" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Transacciones Totales</h2>
                
                <div class="panel-element-row">
                    <div id="element5" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	
	<div id="row3" class="dashboard-row dashboard-row2">
		<div id="panel4" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Transacciones por Instancia</h2>
                
                <div class="panel-element-row">
                    <div id="element4" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>


<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});

//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel"
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/checkboxview"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // CheckboxView
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }
		//Funcion que muestra la ultima hora de actualizacion
		function mostrarHora(){
			var fecha_js = new Date();
			var segundos = fecha_js.getSeconds();
			var hora = fecha_js.getHours(); 
			var minutos = fecha_js.getMinutes();
			
			segundos++;
	 
			if (segundos == 60) {
			  segundos = 0;
			  minutos++;
			  if (minutos == 60) {
				minutos = 0;
				hora++;
				if (hora == 24) {
				  hora = 0;
				}
			  }
			}
			var seg = ((segundos + 1) < 10 ? '0' : '') + (segundos + 1);
			var min = ((minutos	+ 1) < 10 ? '0' : '') + (minutos + 1);
			texto.innerHTML =  "Ultima actualización: "  + hora + ":" + min + ":" + seg;
		}
		mostrarHora();
        
        
        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_sniffer\" NOT bank_name=UNKNOWN |  lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\"            | timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(eval(case(returnCode=0, count))) by tipo_transaccion\",  range > 3700 AND range <=90000, \"span=1h  sum(eval(case(returnCode=0, count))) by tipo_transaccion\",range > 90000,\"span=1d sum(eval(case(returnCode=0, count))) by tipo_transaccion\",1=1,\"span=1d sum(eval(case(returnCode=0, count))) by tipo_transaccion\")]",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_sniffer\" NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\"| timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(eval(case(returnCode=0, count))) by banca_tipo\", range > 3700 AND range <=90000, \"span=1h  sum(eval(case(returnCode=0, count))) by banca_tipo\",range > 90000,\"span=1d sum(eval(case(returnCode=0, count))) by banca_tipo\",1=1,\"span=1d sum(eval(case(returnCode=0, count))) by banca_tipo\")]",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_sniffer\" NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\" |bucket span=\"1m\" _time|stats sum(eval(if(rejectedTransactionInd=\"true\",count,0))) as \"Rechazo\", sum(eval(if(resendDueToFailureInd=\"true\",count,0))) as \"Reinsistencia\" by _time |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m max(Rechazo) as Rechazos,max(Reinsistencia) as Reinsistencias\", range > 3700 AND range <=90000, \"span=1h sum(Rechazo) as Rechazos,sum(Reinsistencia) as Reinsistencias\",range > 90000,\"span=1d sum(Rechazo) as Rechazos,sum(Reinsistencia) as Reinsistencias\",1=1,\"span=1d sum(Rechazo) as Rechazos,sum(Reinsistencia) as Reinsistencias\")]",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search4 = new SearchManager({
            "id": "search4",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_accounttoaccount\" | eval instancia = \"Instancia \" + instancia | chart sum(count) as \"Cantidad por Instancia\"  by server,instancia|rename server AS \"Servidor\"",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

		var search5 = new SearchManager({
            "id": "search5",
            "search": "index=\"cca_wfd_summary\" query=\"summary_transacciones_sniffer\" NOT bank_name=UNKNOWN |  lookup bancos bank_name OUTPUT bank_group |search bank_name=\"$banco$\" | timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(eval(case(returnCode=0, count))) as Ok sum(eval(case(returnCode!=\\\"0\\\", count))) as Nok\",  range > 3700 AND range <=90000, \"span=1h  sum(eval(case(returnCode=0, count))) as Ok sum(eval(case(returnCode!=\\\"0\\\", count))) as Nok\",range > 90000,\"span=1d sum(eval(case(returnCode=0, count))) as Ok sum(eval(case(returnCode!=\\\"0\\\", count))) as Nok\",1=1,\"span=1d sum(eval(case(returnCode=0, count))) as Ok sum(eval(case(returnCode!=\\\"0\\\", count))) as Nok\")]|fillnull value=0|eval Total=Ok+Nok",
            "status_buckets": 0,
            "latest_time": "$tiempo.latest$",
            "earliest_time": "$tiempo.earliest$",
            "cancelOnUnload": true,
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element1 = new ChartElement({
            "id": "element1",
            "charting.axisY2.enabled": "0",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.data.count": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "line",
            "charting.drilldown": "all",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "managerid": "search1",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element2 = new ChartElement({
            "id": "element2",
            "charting.axisY2.enabled": "0",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.data.count": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "line",
            "charting.drilldown": "all",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "managerid": "search2",
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element3 = new ChartElement({
            "id": "element3",
            "charting.axisY2.enabled": "0",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.data.count": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "line",
            "charting.drilldown": "all",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "managerid": "search3",
            "el": $('#element3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element4 = new ChartElement({
            "id": "element4",
            "charting.axisY2.enabled": "0",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisTitleY2.text": "Instancia 1",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "bar",
            "charting.drilldown": "none",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "managerid": "search4",
            "el": $('#element4')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

		var element5 = new ChartElement({
            "id": "element5",
            "charting.chart.style": "shiny",
            "link.visible": "false",
            "charting.axisTitleY.visibility": "visible",
            "resizable": true,
            "charting.chart.bubbleSizeBy": "area",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.chart.stackMode": "default",
            "charting.axisTitleY2.visibility": "visible",
            "charting.chart.nullValueMode": "gaps",
            "charting.axisTitleX.visibility": "visible",
            "charting.axisX.scale": "linear",
            "charting.layout.splitSeries": "0",
            "charting.legend.placement": "bottom",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.data.count": "0",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.chart.showDataLabels": "none",
            "charting.chart": "column",
            "charting.drilldown": "all",
            "charting.axisY.scale": "linear",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
			"charting.chart.overlayFields": "Ok,Total",
			"charting.axisY2.enabled":"1",
			"charting.axisY2.scale":"inherit",
			"charting.axisY2.fields":"Nok",
			"charting.chart2":"column",
			"charting.fieldColors": "{\"Ok\": 0x00A300, \"Nok\": 0xFF0000, \"Total\":0x0000A3}",
            "managerid": "search5",
            "el": $('#element5')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


		
        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new DropdownInput({
            "id": "input1",
            "choices": [
                {"label": "BANCO DE CHILE", "value": "BANCO DE CHILE"},
                {"label": "BANCO SANTANDER", "value": "BANCO SANTANDER"},
                {"label": "BANCO BCI", "value": "BANCO BCI"},
                {"label": "BANCO ESTADO", "value": "BANCO ESTADO"},
                {"label": "BANCO SCOTIABANK", "value": "BANCO SCOTIABANK"},
				{"label": "BANCO BICE", "value": "BANCO BICE"},
				{"label": "BANCO ITAU", "value": "BANCO ITAU"},
				{"label": "BANCO SECURITY", "value": "BANCO SECURITY"},
				{"label": "BANCO BBVA", "value": "BANCO BBVA"},
				{"label": "COOPEUCH", "value": "COOPEUCH"},
				{"label": "BANCO CORPBANCA", "value": "BANCO CORPBANCA"},
                {"label": "INDUSTRIA", "value": "*"}
            ],
            "selectFirstChoice": false,
            "searchWhenChanged": true,
            "showClearButton": true,
            "default": "*",
            "value": "$form.banco$",
            "el": $('#input1')
        }, {tokens: true}).render();

        input1.on("change", function(newValue) {
			mostrarHora();
            FormUtils.handleValueChange(input1);
        });
        
        var input2 = new TimeRangeInput({
            "id": "input2",
            "searchWhenChanged": true,
            "default": {"latest_time": "now", "earliest_time": "@d"},
            "earliest_time": "$form.tiempo.earliest$",
            "latest_time": "$form.tiempo.latest$",
            "el": $('#input2')
        }, {tokens: true}).render();

        input2.on("change", function(newValue) {
            mostrarHora();
			FormUtils.handleValueChange(input2);
        });
        
        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }


        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
</body>
</html>