<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Sub Panel TPS y tiempos de respuesta</title>
    <link rel="shortcut icon" href="{{SPLUNKWEB_URL_PREFIX}}/static/img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.206/css/build/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/en-US/static/@f44afce176d0.206/css/build/pages/dashboard-simple-bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_decorations.css" />
    <link rel="stylesheet" type="text/css" media="all" href="{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/table_cell_highlighting.css" />
</head>

<style>
.dashboard-row .dashboard-panel .ui-resizable-handle{
    display: none !important;
 }

.dashboard-row .dashboard-panel .dashboard-element .panel-footer {
    display: none;
 }
</style>  
  
<body class="simplexml preload locale-en">
<!-- 
BEGIN LAYOUT
This section contains the layout for the dashboard. Splunk uses proprietary
styles in <div> tags, similar to Bootstrap's grid system. 
-->
<a class="navSkip" href="#navSkip" tabindex="1">Screen reader users, click here to skip the navigation bar</a>
<div class="header splunk-header">
        <div id="placeholder-splunk-bar">
            <a href="{{SPLUNKWEB_URL_PREFIX}}/app/launcher/home" class="brand" title="splunk &gt; listen to your data">splunk<strong>&gt;</strong></a>
        </div>
            <div id="placeholder-app-bar"></div>
</div>
<a id="navSkip"></a>
<div class="dashboard-body container-fluid main-section-body" data-role="main">
    <div class="dashboard-header clearfix">
        <h2>Sub Panel TPS y tiempos de respuesta</h2> <div align="right" id="texto"></div>
    </div>
    <div class="fieldset">
        <div class="input input-dropdown" id="input1">
            <label>Banco</label>
        </div>
        <div class="input input-timerangepicker" id="input2">
            <label>Fecha</label>
        </div>
    </div>


    <div id="row1" class="dashboard-row dashboard-row1">
        <div id="panel1" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Tiempo de respuesta promedio por tipo de transacción</h2>
                
                <div class="panel-element-row">
                    <div id="element1" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel2" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">Tiempo de respuesta promedio por banca</h2>
                
                <div class="panel-element-row">
                    <div id="element2" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="row2" class="dashboard-row dashboard-row2">
        <div id="panel3" class="dashboard-cell" style="width: 100%;">
            <div class="dashboard-panel clearfix">
                <h2 class="panel-title">TPS máximo por banco por minuto</h2>
                
                <div class="panel-element-row">
                    <div id="element3" class="dashboard-element chart" style="width: 100%">
                        <div class="panel-body"></div>
						<div class="panel-body" id="grafico_tps"></div>
                    </div>
                </div>
				
							
				
            </div>
        </div>
    </div>
</div>


<!-- 
END LAYOUT
-->

<script src="{{SPLUNKWEB_URL_PREFIX}}/config?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/i18n.js"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/i18ncatalog?autoload=1"></script>
<script src="{{SPLUNKWEB_URL_PREFIX}}/static/js/build/simplexml.min/config.js"></script>
<script type="text/javascript">
// <![CDATA[
require.config({
    baseUrl: "{{SPLUNKWEB_URL_PREFIX}}/static/js",
    waitSeconds: 0 // Disable require.js load timeout
});


//
// LIBRARY REQUIREMENTS
//
// In the require function, we include the necessary libraries and modules for
// the HTML dashboard. Then, we pass variable names for these libraries and
// modules as function parameters, in order.
// 
// When you add libraries or modules, remember to retain this mapping order
// between the library or module and its function parameter. You can do this by
// adding to the end of these lists, as shown in the commented examples below.

require([
    "splunkjs/mvc",
    "splunkjs/mvc/utils",
    "splunkjs/mvc/tokenutils",
    "underscore",
    "jquery",
    "splunkjs/mvc/simplexml",
    "splunkjs/mvc/headerview",
    "splunkjs/mvc/footerview",
    "splunkjs/mvc/simplexml/dashboardview",
    "splunkjs/mvc/simplexml/dashboard/panelref",
    "splunkjs/mvc/simplexml/element/chart",
    "splunkjs/mvc/simplexml/element/event",
    "splunkjs/mvc/simplexml/element/html",
    "splunkjs/mvc/simplexml/element/list",
    "splunkjs/mvc/simplexml/element/map",
    "splunkjs/mvc/simplexml/element/single",
    "splunkjs/mvc/simplexml/element/table",
    "splunkjs/mvc/simpleform/formutils",
    "splunkjs/mvc/simplexml/eventhandler",
    "splunkjs/mvc/simplexml/searcheventhandler",
    "splunkjs/mvc/simpleform/input/dropdown",
    "splunkjs/mvc/simpleform/input/radiogroup",
    "splunkjs/mvc/simpleform/input/linklist",
    "splunkjs/mvc/simpleform/input/multiselect",
    "splunkjs/mvc/simpleform/input/checkboxgroup",
    "splunkjs/mvc/simpleform/input/text",
    "splunkjs/mvc/simpleform/input/timerange",
    "splunkjs/mvc/simpleform/input/submit",
    "splunkjs/mvc/searchmanager",
    "splunkjs/mvc/savedsearchmanager",
    "splunkjs/mvc/postprocessmanager",
    "splunkjs/mvc/simplexml/urltokenmodel",
	'splunkjs/mvc/tableview'
    // Add comma-separated libraries and modules manually here, for example:
    // ..."splunkjs/mvc/simplexml/urltokenmodel",
    // "splunkjs/mvc/checkboxview"
    ],
    function(
        mvc,
        utils,
        TokenUtils,
        _,
        $,
        DashboardController,
        HeaderView,
        FooterView,
        Dashboard,
        PanelRef,
        ChartElement,
        EventElement,
        HtmlElement,
        ListElement,
        MapElement,
        SingleElement,
        TableElement,
        FormUtils,
        EventHandler,
        SearchEventHandler,
        DropdownInput,
        RadioGroupInput,
        LinkListInput,
        MultiSelectInput,
        CheckboxGroupInput,
        TextInput,
        TimeRangeInput,
        SubmitButton,
        SearchManager,
        SavedSearchManager,
        PostProcessManager,
        UrlTokenModel,
        TableView 

        // Add comma-separated parameter names here, for example: 
        // ...UrlTokenModel, 
        // CheckboxView
        ) {

        var pageLoading = true;


        // 
        // TOKENS
        //
        
        // Create token namespaces
        var urlTokenModel = new UrlTokenModel();
        mvc.Components.registerInstance('url', urlTokenModel);
        var defaultTokenModel = mvc.Components.getInstance('default', {create: true});
        var submittedTokenModel = mvc.Components.getInstance('submitted', {create: true});

        urlTokenModel.on('url:navigate', function() {
            defaultTokenModel.set(urlTokenModel.toJSON());
            if (!_.isEmpty(urlTokenModel.toJSON()) && !_.all(urlTokenModel.toJSON(), _.isUndefined)) {
                submitTokens();
            } else {
                submittedTokenModel.clear();
            }
        });

        // Initialize tokens
        defaultTokenModel.set(urlTokenModel.toJSON());

        function submitTokens() {
            // Copy the contents of the defaultTokenModel to the submittedTokenModel and urlTokenModel
            FormUtils.submitForm({ replaceState: pageLoading });
        }

        function setToken(name, value) {
            defaultTokenModel.set(name, value);
            submittedTokenModel.set(name, value);
        }

        function unsetToken(name) {
            defaultTokenModel.unset(name);
            submittedTokenModel.unset(name);
        }

        //Funcion que muestra la ultima hora de actualizacion
		function mostrarHora(){
			var fecha_js = new Date();
			var segundos = fecha_js.getSeconds();
			var hora = fecha_js.getHours(); 
			var minutos = fecha_js.getMinutes();
			
			segundos++;
	 
			if (segundos == 60) {
			  segundos = 0;
			  minutos++;
			  if (minutos == 60) {
				minutos = 0;
				hora++;
				if (hora == 24) {
				  hora = 0;
				}
			  }
			}
			var seg = ((segundos + 1) < 10 ? '0' : '') + (segundos + 1);
			var min = ((minutos	+ 1) < 10 ? '0' : '') + (minutos + 1);
			texto.innerHTML =  "Ultima actualización: "  + hora + ":" + min + ":" + seg;
		}
		mostrarHora();
        
        //
        // SEARCH MANAGERS
        //

        var search1 = new SearchManager({
            "id": "search1",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=\"cca_wfd_summary\" query=\"summary_tiempo_promedio\" NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group  | search bank_name=\"$banco$\" |bucket [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m _time\",range>3700 AND range<=90000, \"span=1h  _time\",range>90000,\"span=1d _time\",1=1,\"span=1h _time\")] | stats sum(tiempo_suma) as total_tiempo, sum(count) as total by _time,tipo_transaccion| eval tiempo_prom=round(total_tiempo/total,1) |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(tiempo_prom) by tipo_transaccion\",range>3700 AND range<=90000, \"span=1h sum(tiempo_prom) by tipo_transaccion\",range>90000,\"span=1d sum(tiempo_prom) by tipo_transaccion\",1=1,\"span=1h sum(tiempo_prom) by tipo_transaccion\")]",
            "earliest_time": "$tiempo.earliest$",
            "latest_time": "$tiempo.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search2 = new SearchManager({
            "id": "search2",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=\"cca_wfd_summary\" query=\"summary_tiempo_promedio\" NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group | search bank_name=\"$banco$\"             |bucket [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m _time\",range>3700 AND range<=90000, \"span=1h  _time\",range>90000,\"span=1d _time\",1=1,\"span=1h _time\")]              | stats sum(tiempo_suma) as total_tiempo, sum(count) as total by _time,banca_tipo             | eval tiempo_prom=round(total_tiempo/total,1)              |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(tiempo_prom) by banca_tipo\",range>3700 AND range<=90000, \"span=1h sum(tiempo_prom) by banca_tipo\",range>90000,\"span=1d sum(tiempo_prom) by banca_tipo\",1=1,\"span=1h sum(tiempo_prom) by banca_tipo\")]",
            "earliest_time": "$tiempo.earliest$",
            "latest_time": "$tiempo.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});

        var search3 = new SearchManager({
            "id": "search3",
            "status_buckets": 0,
            "cancelOnUnload": true,
            "search": "index=\"cca_wfd_summary\" query=\"summary_tps\" NOT bank_name=UNKNOWN | lookup bancos bank_name OUTPUT bank_group | search bank_name=\"$banco$\"|bucket [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m _time\",range>3700 AND range<=90000, \"span=1h  _time\",range>90000,\"span=1d _time\",1=1,\"span=1h _time\")]     | sort 0 - max_tps | dedup _time bank_name | rename max_tps as tps_prom | table _time bank_name tps_prom     |timechart [stats count | addinfo | eval range=info_max_time - info_min_time | eval search=case(range<=3700, \"span=1m sum(tps_prom) by bank_name\",range>3700 AND range<=90000, \"span=1h sum(tps_prom) by bank_name\",range>90000,\"span=1d sum(tps_prom) by bank_name\",1=1,\"span=1h sum(tps_prom) by bank_name\")] | fields - _span",
            "earliest_time": "$tiempo.earliest$",
            "latest_time": "$tiempo.latest$",
            "app": utils.getCurrentApp(),
            "auto_cancel": 90,
            "preview": true,
            "runWhenTimeIsUndefined": false
        }, {tokens: true, tokenNamespace: "submitted"});



        //
        // SPLUNK HEADER AND FOOTER
        //

        new HeaderView({
            id: 'header',
            section: 'dashboards',
            el: $('.header'),
            acceleratedAppNav: true,
            useSessionStorageCache: true,
            splunkbar: true,
            appbar: true,
            litebar: false,
        }, {tokens: true}).render();

        new FooterView({
            id: 'footer',
            el: $('.footer')
        }, {tokens: true}).render();


        //
        // DASHBOARD EDITOR
        //

        new Dashboard({
            id: 'dashboard',
            el: $('.dashboard-body'),
            showTitle: true,
            editable: false
        }, {tokens: true}).render();


        //
        // VIEWS: VISUALIZATION ELEMENTS
        //

        var element1 = new ChartElement({
            "id": "element1",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.axisTitleX.visibility": "visible",
            "link.visible": "false",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisX.scale": "linear",
            "charting.axisY.scale": "linear",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.axisTitleY2.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "line",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisY2.enabled": "0",
            "charting.legend.placement": "bottom",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.chart.showDataLabels": "none",
            "charting.chart.stackMode": "default",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.chart.nullValueMode": "connect",
            "resizable": true,
            "managerid": "search1",
            "el": $('#element1')
        }, {tokens: true, tokenNamespace: "submitted"}).render();


        var element2 = new ChartElement({
            "id": "element2",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.axisTitleX.visibility": "visible",
            "link.visible": "false",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisX.scale": "linear",
            "charting.axisY.scale": "linear",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.axisTitleY2.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "line",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisY2.enabled": "0",
            "charting.legend.placement": "bottom",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.chart.showDataLabels": "none",
            "charting.chart.stackMode": "default",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.chart.nullValueMode": "connect",
            "resizable": true,
            "managerid": "search2",
            "el": $('#element2')
        }, {tokens: true, tokenNamespace: "submitted"}).render();

		
		
  /*
        var element3 = new ChartElement({
            "id": "element3",
            "charting.axisLabelsX.majorLabelStyle.rotation": "0",
            "charting.axisTitleX.visibility": "visible",
            "link.visible": "false",
            "charting.chart.bubbleSizeBy": "area",
            "charting.axisX.scale": "linear",
            "charting.axisY.scale": "linear",
            "charting.chart.bubbleMinimumSize": "10",
            "charting.chart.bubbleMaximumSize": "50",
            "charting.axisTitleY2.visibility": "visible",
            "charting.layout.splitSeries": "0",
            "charting.drilldown": "all",
            "charting.chart": "line",
            "charting.layout.splitSeries.allowIndependentYRanges": "0",
            "charting.axisY2.scale": "inherit",
            "charting.chart.sliceCollapsingThreshold": "0.01",
            "charting.axisY2.enabled": "0",
            "charting.legend.placement": "bottom",
            "charting.legend.labelStyle.overflowMode": "ellipsisMiddle",
            "charting.chart.showDataLabels": "none",
            "charting.chart.stackMode": "default",
            "charting.axisLabelsX.majorLabelStyle.overflowMode": "ellipsisNone",
            "charting.axisTitleY.visibility": "visible",
            "charting.chart.style": "shiny",
            "charting.chart.nullValueMode": "connect",
            "resizable": true,
            "managerid": "search3",
            "el": $('#element3')
        }, {tokens: true, tokenNamespace: "submitted"}).render();*/

		var search_data = search3.data("results", {output_mode: 'json_rows' , count: 0});
		search_data.on('data', function(results) {
			graficos_disp(results,"adada");
		});
		
        delete Highcharts;
		
		function graficos_disp(results,div){
				require(["{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/highcharts.js"], function(a) {
					require(["{{SPLUNKWEB_URL_PREFIX}}/static/app/cca_wfd/highcharts-more.js"], function(a) {
						jQuery.cssProps.opacity = 'opacity';
						Highcharts.setOptions({global : {useUTC : false}});
						
					var filas = results.data().rows;
					var columns = results.data().fields;
                    var chartGlobal = new Array();
                    // Se cargan columnas
                    for( var i=1; i<columns.length-1; i++ ){
                        chartGlobal.push({ name: columns[i], data: [], type: 'line', tooltip: {valueSuffix: ' ' } });
                    }
                    // Se cargan los datos
                    _.each(filas, function(fila, i) {
						
                        if( i < filas.length ){
                            for( var x=1; x<columns.length-1; x++ ){
                                var date = Date.parse( fila[0] );
								if (fila[x]==null){
										chartGlobal[x-1].data.push( [ date, null ] );
									}else{
										chartGlobal[x-1].data.push( [ date, parseInt( fila[ x ] ) ] );
									}
                            }
                        }
                    });
                    //}
                    var options = {
                        chart: {
                            zoomType: 'x',
                            type: 'line',
                            renderTo: 'grafico_tps',
                            animation: Highcharts.svg,
                        },
                        title: {
                            text: null
                        },
                        xAxis: {
                            type: 'datetime',
                            title: {
                                text: 'Tiempo'
                            }
                        },
                        yAxis: [{ // Primary yAxis
                            min: 0,
                            labels: {
                                style: {
                                    color: '#000000'
                                }
                            },
                            title: {
                                text: 'TPS',
                                style: {
                                    color: '#000000'
                                }
                            },
                            opposite: false
                        }],
                        plotOptions: {
                            series: {
                                 connectNulls: true
                            },
                            area: {
                                marker: {
                                    enabled: false
                                }
                            }
                        },
                        series: [{}]
                    };
                    options.series = chartGlobal;
                    new Highcharts.Chart(options); 
					});
				});
			};
		
		
        

        //
        // VIEWS: FORM INPUTS
        //

        var input1 = new DropdownInput({
            "id": "input1",
            "choices": [
                {"label": "BANCO DE CHILE", "value": "BANCO DE CHILE"},
                {"label": "BANCO SANTANDER", "value": "BANCO SANTANDER"},
                {"label": "BANCO BCI", "value": "BANCO BCI"},
                {"label": "BANCO ESTADO", "value": "BANCO ESTADO"},
                {"label": "BANCO SCOTIABANK", "value": "BANCO SCOTIABANK"},
				{"label": "BANCO BICE", "value": "BANCO BICE"},
				{"label": "BANCO ITAU", "value": "BANCO ITAU"},
				{"label": "BANCO SECURITY", "value": "BANCO SECURITY"},
				{"label": "BANCO BBVA", "value": "BANCO BBVA"},
				{"label": "COOPEUCH", "value": "COOPEUCH"},
				{"label": "BANCO CORPBANCA", "value": "BANCO CORPBANCA"},
                {"label": "INDUSTRIA", "value": "*"}
            ],
            "showClearButton": true,
            "searchWhenChanged": true,
            "default": "*",
            "selectFirstChoice": false,
            "value": "$form.banco$",
            "el": $('#input1')
        }, {tokens: true}).render();

        input1.on("change", function(newValue) {
			mostrarHora();
            FormUtils.handleValueChange(input1);
        });
        
        var input2 = new TimeRangeInput({
            "id": "input2",
            "searchWhenChanged": true,
            "default": {"latest_time": "now", "earliest_time": "@d"},
            "earliest_time": "$form.tiempo.earliest$",
            "latest_time": "$form.tiempo.latest$",
            "el": $('#input2')
        }, {tokens: true}).render();

        input2.on("change", function(newValue) {
			mostrarHora();
            FormUtils.handleValueChange(input2);
        });
        
        // Initialize time tokens to default
        if (!defaultTokenModel.has('earliest') && !defaultTokenModel.has('latest')) {
            defaultTokenModel.set({ earliest: '0', latest: '' });
        }

        if (!_.isEmpty(urlTokenModel.toJSON())){
            submitTokens();
        }
		search3.startSearch();

        //
        // DASHBOARD READY
        //

        DashboardController.ready();
        pageLoading = false;

    }
);
// ]]>
</script>
</body>
</html>